.chart {
  background-color: black;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-height: 18.75rem;
  position: relative;

  @media (min-width: 768px) {
    padding: 2rem 0;
    margin: 2rem 0;
  }

  @media (min-width: 1200px) {
    width: 37.5%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .root {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--teal);
    padding: 0 1rem 1rem;
    position: relative;
    z-index: 2;
    pointer-events: none;

    @media (min-width: 768px) {
      padding: 0 2rem 2rem;
    }

    .right {
      pointer-events: all;
    }
  }

  .label {
    color: var(--neutral-500);
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .price {
    font-weight: 500;
    font-family: 'Roobert Medium';
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;

    @media (min-width: 992px) {
      font-size: 2rem;
    }
  }

  .change {
    display: flex;
    align-items: center;

    &.up {
      color: var(--teal-200);
    }

    &.down {
      color: var(--red);
    }

    &.neutral {
      color: var(--neutral-300);
    }

    .percentage {
      font-size: 0.75rem;
      margin-left: 0.33rem;
    }
  }

  .statistics {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 1rem 0;
    flex-wrap: wrap;
    margin-top: auto;

    @media (min-width: 768px) {
      padding: 2rem 2rem 0;
    }

    .statistic {
      margin-right: 2rem;
      margin-top: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .value {
        font-size: 1.25rem;
        font-family: 'Roobert Medium';
        font-weight: 500;
        color: var(--neutral-300);
        line-height: 1;

        @media (min-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.tooltip {
  border: 2px solid #24f7dd33;
  border-radius: 1rem;
  padding: 0.625rem;
  padding-left: 1.75rem;
  line-height: 1;
  color: var(--teal);
  font-family: 'Roobert SemiBold';
  font-weight: 600;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    left: 0.625rem;
    width: 0.625rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
    background-color: var(--teal);
    height: 0.625rem;
  }

  &:after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, black 0%, rgba(#23f7dd, 0.15) 100%);
    z-index: -1;
  }
}
