.switcher {
  justify-self: flex-start;
  display: inline-flex;
  margin-top: auto;

  @media (min-width: 992px) {
    margin-top: 0;
  }

  .control {
    background-color: var(--neutral-800);
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    min-height: auto;
    border: none;
    box-shadow: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    width: 7.875rem;

    @media (min-width: 992px) {
      padding: 0.5rem 0.75rem;
      width: 6.875rem;
    }

    @media (min-width: 1200px) {
      width: 8rem;
      padding: 0.75rem 1rem;
    }

    &:hover .value .single {
      color: var(--neutral-400);
    }

    .value {
      padding: 0;
      line-height: 1;
      display: flex;
      padding-left: 0.875rem;
      position: relative;
      text-align: center;
      flex: unset;

      @media (min-width: 992px) {
        font-size: 0.75rem;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: var(--teal);
        left: 0;
      }

      .single {
        font-size: 0.875rem;
        color: var(--neutral-300);
        line-height: 1;
        transition: all 200ms ease;
        margin: 0;

        @media (min-width: 992px) {
          font-size: 0.75rem;
        }

        @media (min-width: 1200px) {
          font-size: 0.875rem;
        }
      }
    }

    .indicator {
      margin-left: 0.25rem;

      &.expanded {
        svg {
          transform: rotateZ(0deg);

          @media (min-width: 992px) {
            transform: rotateZ(180deg);
          }
        }
      }

      * {
        padding: 0;
      }

      svg {
        transform: rotateZ(180deg);
        transition: all 200ms ease;
        color: var(--neutral-500);

        @media (min-width: 992px) {
          transform: rotateZ(0deg);
        }
      }
    }
  }

  .menu {
    background-color: var(--neutral-800);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0;
    margin-bottom: 0.25rem;
    border: 1px solid var(--neutral-800);

    @media (min-width: 992px) {
      margin-bottom: 0;
      margin-top: 0.25rem;
    }

    .list {
      padding: 0;

      .option {
        padding: 0.75rem;
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        transition: all 200ms ease;
        color: var(--neutral-200);

        @media (min-width: 992px) {
          font-size: 0.75rem;
        }

        @media (min-width: 1200px) {
          font-size: 0.875rem;
        }

        &:hover,
        &.hover {
          background-color: var(--neutral-700);
          color: var(--teal);
        }

        &.selected {
          color: var(--teal);
          background-color: var(--black);
        }

        &:hover,
        &.hover,
        &.selected {
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }
}
