.tooltip {
  border-radius: 1rem;
  padding: 0.625rem;
  padding-left: 1.75rem;
  line-height: 1;
  font-weight: 600;
  position: relative;
  overflow: hidden;

  .border {
    position: absolute;
    left: 0;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    opacity: 0.15;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .dot {
    left: 0.625rem;
    width: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
    height: 0.625rem;
  }

  .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.15;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to bottom, black 0%, transparent 100%);
      z-index: -2;
    }
  }
}
