.multilayer-percentage-bar {
  .progress,
  .progress-bar {
    height: 1.5rem !important;
  }

  .step-1 {
    background-color: var(--primary);
  }

  .step-2 {
    background-color: var(--primary);
  }

  &.two-items {
    .step-2 {
      background-color: var(--primary);
    }
  }

  .step-3 {
    background-color: var(--primary);
  }

  .step-4 {
    background-color: var(--primary);
  }

  .step-5 {
    background-color: var(--primary);
  }
}
