.nft-card-preloader {
  margin: 0 auto;
  border-radius: 16px !important;
  width: 240px !important;
  background: var(--body-bg) !important;
  height: auto !important;

  @media (min-width: 576px) {
    margin: 0;
    width: calc(50% - 8px) !important;
  }

  @media (min-width: 992px) {
    width: calc(50% - 8px) !important;
  }

  @media (min-width: 1200px) {
    width: calc(25% - 24px) !important;
  }

  .nft-card-preloader-badge {
    border-radius: 16px !important;
    position: absolute !important;
    background-color: var(--action-bg-light) !important;
    width: calc(32px + 4px) !important;
    height: 20px !important;
    left: 12px;
    animation: none !important;
    top: 12px;
    z-index: 1;
  }

  .nft-card-preloader-image {
    border-radius: 4px !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    aspect-ratio: 1;
    width: calc(100% - 8px) !important;
    background-color: var(--action-bg) !important;
    animation: none !important;
    height: auto !important;
    margin: 4px;
    margin-bottom: 0;
  }

  .nft-card-preloader-content {
    height: calc(64px + 4px);
    margin-bottom: 8px;
    border-radius: 12px !important;
    width: calc(100% - 16px) !important;
    background-color: var(--neutral-850) !important;
    margin-top: calc(32px * -1);
    animation: none !important;
    margin-left: 8px;
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-direction: column;

    .nft-card-preloader-name {
      background-color: var(--action-bg-light) !important;
      border-radius: 8px;
      height: 16px;
      width: 64px;
    }

    .nft-card-preloader-collection {
      background-color: var(--action-bg-light) !important;
      border-radius: 8px;
      height: 16px;
      width: min(128px, calc(100% - 32px - 12px));
    }

    .nft-card-preloader-send {
      background-color: var(--action-bg-light) !important;
      border-radius: 50% !important;
      position: absolute !important;
      right: 12px;
      bottom: 12px;
      animation: none !important;
      width: 32px;
      height: 32px;
    }
  }
}
