.nodes-table {
  .percentage-bar {
    width: 8.125rem;
  }

  tr {
    &.dz {
      --table-border-color: rgba(var(--orange-400-rgb), 0.5);
      --table-bg: rgba(var(--orange-400-rgb), 0.1);
      border-color: rgba(var(--orange-400-rgb), 0.1);
    }
  }

  tr.dz + tr.expand-row {
    --table-border-color: rgba(var(--orange-400-rgb), 0.5);
    --table-bg: rgba(var(--orange-400-rgb), 0.1);
    border-color: rgba(var(--orange-400-rgb), 0.1);
    td {
      background-color: unset;
    }
    .content-wrapper {
      background-color: #2a1f16;
    }
  }

  // .dh   - Default Hidden
  // .q    - Qualified
  // .qv   - Qualified Visible
  // .dz   - Danger Zone
  // .dzv  - Danger Zone Visible
  // .nq   - Not Qualified
  // .nqv  - Not Qualified Visible
  &.auction-list-table {
    overflow-y: clip;
    table {
      overflow-y: clip;
    }

    tr {
      &.dh {
        visibility: collapse;
        td {
          border-bottom-width: 0;
        }
        &.q.qv:not(.dz),
        &.dz.dzv,
        &.nq.nqv {
          visibility: visible;
          td {
            border-bottom-width: 1px;
          }
        }
      }
      &.expand-row {
        &.dz {
          td {
            background-color: unset;
          }
          .content-wrapper {
            background-color: #2a1f16;
          }
        }
        td {
          position: relative;
          padding: 0;
          border-bottom-width: 0;
        }
        .trapezoid {
          background-color: var(--table-bg);
          transform: perspective(10rem) rotateX(-10deg);
          border-width: 1px;
          border-style: solid;
          border-color: inherit;
          height: 1rem;
          margin-left: 5px;
          margin-right: 5px;
          border-top-width: 0;
          &.reverse {
            margin-top: -1px;
            transform: perspective(10rem) rotateX(10deg);
          }
        }
        .content-wrapper {
          position: absolute;
          z-index: 1;
          background-color: var(--neutral-950);
          padding: 0.25rem 1rem;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: fit-content;
          height: fit-content;
          margin: auto;
          button {
            line-height: 1.4;
          }
        }
      }
    }
  }
}

body.explorer.webkit {
  .auction-list-table {
    tr {
      &.dh {
        display: none;
        visibility: visible;
        &.q.qv:not(.dz),
        &.dz.dzv,
        &.nq.nqv {
          display: table-row;
        }
      }
    }
  }
}
