.main-navbar {
  .main-symbol,
  .main-logo {
    g {
      fill: $body;
    }
  }

  .dropdown-toggle {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;

    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    border: 1px solid $border-color !important;
    border-radius: 0.25rem !important;
    top: -0.5rem !important;
    width: auto !important;
    right: auto !important;
    left: 0 !important;
  }

  .main-navbar__search {
    .input-group {
      min-width: 1rem;
    }
  }
}

.main-navbar,
.header-navbar {
  background: $card-bg;

  .nav-link,
  .nav-link-icon {
    transition: color 200ms ease;
    min-width: auto !important;

    .material-icons {
      transition: color 200ms ease;
      color: $muted;
      top: 0;

      &.icon-sm {
        font-size: 1rem;
      }
    }

    &:hover {
      color: $primary;

      .material-icons {
        color: $primary;
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      &.active {
        background-color: transparent;
        color: $primary;
      }
    }
  }
}

.header-navbar {
  .nav-link,
  .nav-link.active {
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid transparent !important;
    }
  }

  .dropdown-menu {
    padding-top: 0;
  }
}
