.data-decode {
  .dropdown {
    right: 0.313rem;
    top: 0.313rem;
    pointer-events: none;
    z-index: 1;
    .btn-pill {
      background-color: $card-bg;
    }
    * {
      pointer-events: initial;
    }
    .dropdown-item::after {
      display: none;
    }
  }
  .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid $border-color;
    background-color: $light;
    border-radius: $input-border-radius;
    font-size: 0.8125rem;
    min-height: 3.125rem;
    height: 4.5rem;
    overflow: auto;
    padding: 0.375rem 6rem 0.375rem 0.75rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: vertical;
    scrollbar-width: thin;

    &:hover {
      border: 1px solid $border-color;
    }
  }
}
