@import './components/DetailsBlock/detailsBlock.styles.scss';
@import './components/ProviderDetails/providerDetails.styles.scss';
@import 'src/assets/scss/elements/scrollbar.scss';

.account-staking {
  .delegation-row {
    & + .delegation-row {
      border-top: 1px solid var(--border-color);
    }
  }

  .staking-chart-title {
    background-color: var(--neutral-800-opacity-60);
    border-radius: $border-radius;
    @include media-breakpoint-up(lg) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .staking-chart-holder {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 26rem;
    margin-top: -4rem;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      min-height: 18rem;
    }
    &.chart-right-panel .staking-details-center {
      margin-left: -1rem;
    }
  }
  .staking-details-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  .chart-tooltip {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
    background-color: var(--neutral-800-opacity-60);
    border-radius: $border-radius;
  }
  .delegation-title {
    background-color: var(--neutral-800-opacity-60);
    border-radius: $border-radius;
  }
  .stake-container:first-of-type {
    @include media-breakpoint-up(lg) {
      .delegation-title {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .staking-list {
    @include media-breakpoint-up(lg) {
      max-height: 33rem;
      overflow: auto;
      @include webkit-scrollbar;
    }
  }
}
