.network-metrics {
  .gradient-bar {
    // background: linear-gradient(to right, $danger, $warning, $success);
    background: linear-gradient(
      to right,
      $danger 0%,
      #e8832c 30%,
      $warning 36%,
      $warning 66%,
      #79d674 72%,
      $success 100%
    );
    position: relative;
    overflow: visible;

    .rating {
      position: absolute;
      top: 0.37rem;

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid $body;
      }
    }

    .temp-rating {
      position: absolute;
      top: -0.56rem;

      .arrow-up {
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid $body;
      }
    }
  }
}
