.epoch-progress-ring {
  .progress-ring-wrapper {
    background: rgba(23, 23, 23, 0.95);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
  .epoch-label {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--neutral-300);
    font-weight: 600;
  }
  .epoch-rounds-left {
    font-size: 0.688rem;
    color: var(--neutral-400);
    opacity: 0.6;
  }
}
