.nodes-tabs {
  .nav {
    border-bottom: 1px solid $border-color;

    .nav-link {
      &.active:hover,
      &.active {
        color: $body;
        background-color: $card_bg;
        border-color: $border-color $border-color $border-color;
        border-bottom-color: $card_bg;
      }

      &:hover {
        border-color: $card_bg $card_bg $border-color;
      }
    }
  }
}
