.tokens,
.tokens-meta {
  .tokens-table {
    .token-ticker {
      width: fit-content;
    }
    .token-description {
      max-width: 16rem;
      @include media-breakpoint-up(md) {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    .token-link {
      &::after {
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      .token-icon {
        width: 3rem;
        height: 3rem;
        svg {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
  }
}
.tokens-meta {
  .tokens-table {
    th:first-child,
    td:first-child {
      width: 45%;
    }
    th:last-child,
    td:last-child {
      max-width: 8rem;
    }
  }
}
.tokens {
  .tokens-table {
    th,
    td {
      min-width: 8%;
    }
    th:first-child,
    td:first-child {
      width: 26%;
    }
    .egld-icon svg {
      fill: $dark;
      width: 1rem;
      height: 1rem;
      @include media-breakpoint-up(md) {
        width: 2.15rem;
        height: 2.15rem;
      }
    }
  }
}
