.validators-status-card {
  width: 100%;
  display: flex;
  flex-grow: 1;
  border-radius: 1rem;

  .marquee-wrapper {
    position: absolute;
    bottom: 1.25rem;
    left: 0;
    right: 0;
    .slide {
      margin-right: 0.5rem;
    }
    .badge-holder {
      gap: 0.5rem;
      .badge {
        padding: 0.375rem;
        font-size: 0.825rem;
        background-color: var(--black);
        color: var(--neutral-600);
      }
    }
  }

  // ------- Specific Styling

  &.validators-status-lg {
    .validator-card-title {
      @include media-breakpoint-up(sm) {
        position: absolute;
        z-index: 2;
      }
    }
    .shard-list {
      margin-bottom: 2.5rem;
      @include media-breakpoint-up(md) {
        margin-top: 4.5rem;
      }
    }
    .validator-map {
      margin-top: -2.5rem;
      text-align: left;
      @include media-breakpoint-up(sm) {
        margin-top: 0;
        text-align: right;
      }
      .rsm-svg {
        max-height: 15rem;
      }
    }
    // .shard-list {
    //   width: 40%;
    //   margin-top: -1.5em;
    // }
    // .validators-total {
    //   padding-top: 2rem;
    // }

    // @include media-breakpoint-down(md) {
    //   .shard-list {
    //     width: 100%;
    //     margin-top: 0;
    //     margin-bottom: 4rem;
    //   }
    // }
  }

  &.validators-status-sm {
    height: 8.5rem;
    @include media-breakpoint-up(xxl) {
      max-width: 18rem;
    }
    .validator-card-title {
      position: absolute;
      z-index: 2;
    }
    .marquee-wrapper {
      bottom: 0.875rem;
    }
    .validator-map {
      position: absolute;
      right: 0;
      top: 0;
      .rsm-svg {
        height: 8.5rem;
        margin-left: auto;
        display: flex;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
