.switcher {
  justify-self: flex-start;
  display: inline-flex;
  margin-top: auto;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  .control {
    --btn-bg: var(--neutral-800);
    --btn-hover-bg: var(--neutral-800);
    --btn-active-bg: var(--neutral-800);
    background-color: var(--neutral-800);
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 12rem;

    &:after {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0.75rem;
      min-width: 6.875rem;
    }

    @include media-breakpoint-up(xl) {
      min-width: 8rem;
      padding: 0.75rem 1rem;
    }

    .value {
      position: relative;
      padding-left: 1rem;
      padding-right: 0.5rem;
      &:before {
        top: 50%;
        transform: translateY(-50%);
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: var(--primary);
        left: 0;
      }
    }
  }

  .dropdown-menu {
    .network-switch-list {
      @include webkit-scrollbar;
      min-height: 2rem;
      max-height: calc(100dvh - #{$header-navbar-height} - 6rem);
      overflow-x: hidden;
      overflow-y: scroll;

      @include media-breakpoint-up(lg) {
        max-height: calc(100dvh - #{$header-navbar-height} - 1rem);
      }
    }
    .custom-network-menu {
      .network-list {
        @include webkit-scrollbar;
        @include media-breakpoint-up(lg) {
          min-height: 2rem;
          max-height: calc(100dvh - #{$header-navbar-height} - 8.25rem);
          overflow-x: hidden;
          overflow-y: scroll;
        }
      }
    }

    .dropdown-item {
      --dropdown-link-color: var(--body-color);
      --dropdown-link-hover-color: var(--primary);
      --dropdown-link-hover-bg: var(--neutral-700);
      --dropdown-link-active-color: var(--primary);
      --dropdown-link-active-bg: var(--black);
    }
  }

  .indicator {
    transition: all 200ms ease;
    color: var(--neutral-500);
  }

  &.show {
    .indicator {
      transform: rotateZ(180deg);
    }
  }
}

.ubuntu,
.windows,
.blink:not(.ios),
.webkit:not(.mac-os):not(.ios) {
  .custom-network-menu .network-list,
  .network-switch-list {
    margin-right: -1rem;
  }
}
