@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/mixins';
@import './../../../node_modules/bootstrap/scss/variables';

$transaction-light-gray: #e0e1e5;
$transaction-medium-gray: #9da0b8;

.copy-btn {
  min-height: 17px;

  &.white {
    .copy-icon {
      #path-color {
        fill: $white;
      }
    }

    .check-icon {
      color: $white;
    }
  }

  &.muted {
    .copy-icon {
      #path-color {
        fill: $transaction-light-gray;
      }

      &:hover {
        #path-color {
          fill: $transaction-medium-gray;
        }
      }
    }

    .check-icon {
      color: $transaction-medium-gray;
    }
  }

  &.align-end {
    margin: 0 0 0 auto !important;
  }
}
