@mixin rotate-clockwise($duration) {
  animation: rotating $duration linear infinite;

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin rotate-counter-clockwise($duration) {
  animation: rotate $duration linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

@mixin blink($duration, $delay) {
  fill: $primary;
  // stroke: $primary;
  // stroke-width: 0;

  animation-name: blink-anim;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  // enable GPU processing

  // transform: translate3d(0, 0, 0);
  // will-change: fill, opacity;
  // backface-visibility: hidden;
  // perspective: 1000;
}

@keyframes blink-anim {
  0%,
  100% {
    fill: #dbe1e9;
    //opacity: 0.6;
    // stroke-width: 0;
    // stroke-opacity: 0;
  }
  50% {
    fill: $primary;
    //opacity: 1;
    // stroke-width: 4px;
    // stroke-opacity: 0.2;
  }
}

.position-absolute-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.network-health {
  .layout-gear {
    width: 100%;
    height: 100%;

    // .br-1 {
    //   @include blink(4s, 0s);
    // }

    // .br-2 {
    //   @include blink(4s, 1s);
    // }

    // .br-3 {
    //   @include blink(4s, 1.4s);
    // }

    // .br-4 {
    //   @include blink(4s, 1.6s);
    // }

    // .br-5 {
    //   @include blink(4s, 2s);
    // }

    // .br-6 {
    //   @include blink(4s, 2.4s);
    // }
  }

  .big-gear {
    position: absolute;
    width: 97%;
    height: 97%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    @include rotate-counter-clockwise(220s);
  }

  .gear-container {
    position: absolute;
    width: 30%;
    height: 30%;
    $gearPos: 2.1%;

    &.top-left {
      top: $gearPos;
      left: $gearPos;

      .gear {
        @include rotate-clockwise(140s);
      }
    }

    &.top-right {
      top: $gearPos;
      right: $gearPos;

      .gear {
        @include rotate-counter-clockwise(60s);
      }
    }

    &.center {
      @extend .position-absolute-center;

      .gear-content {
        width: 85%;
        height: 85%;
        border-radius: 50%;
      }

      .gear {
        @include rotate-clockwise(80s);
      }
    }

    &.bottom-left {
      bottom: $gearPos;
      left: $gearPos;

      .gear {
        @include rotate-counter-clockwise(60s);
      }
    }

    &.bottom-right {
      bottom: $gearPos;
      right: $gearPos;

      .gear-content {
        width: 76%;
        height: 76%;
        border-radius: 50%;
      }

      .gear {
        @include rotate-clockwise(45s);
      }
    }

    .gear {
      width: 100%;
      height: 100%;
    }

    .gear-content {
      @extend .position-absolute-center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-size: 7px;

      @media (min-width: 350px) {
        font-size: 9px;
      }

      @media (min-width: 390px) {
        font-size: 10px;
      }

      @media (min-width: 450px) {
        font-size: 13px;
      }

      @media (min-width: 1050px) {
        font-size: 14px;
      }

      small {
        @extend .text-secondary;
      }
    }
  }
}
