.tokens,
.tokens-meta {
  .tokens-table {
    .token-ticker {
      width: fit-content;
    }
    .token-description {
      max-width: 16rem;
      @include media-breakpoint-up(md) {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    .side-link {
      &::after {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      .side-icon {
        width: 3rem;
        height: 3rem;
        svg {
          width: 3rem;
          max-width: 3rem;
          height: 3rem;
        }
        svg.svg-inline--fa {
          width: 1.75rem;
          max-width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
  }
}
.tokens-meta {
  .tokens-table {
    th,
    td {
      &:first-child {
        width: 45%;
      }
      &:last-child {
        max-width: 8rem;
      }
    }
  }
}
.tokens {
  .tokens-table {
    th,
    td {
      min-width: 8%;
      &:first-child {
        width: 26%;
      }
      &:nth-child(n + 3) {
        text-align: right;
      }
    }
    th {
      a:after {
        border-bottom: 0;
      }
    }
  }
}
