.verified-contract {
  .contract-files {
    .code-block {
      position: relative;
      & > pre {
        border-radius: 0.5rem;
        min-height: 2.813rem;
        background: var(--table-header) !important;
      }
      .button-holder {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .copy-button,
        .copy-link-button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.813rem;
          width: 1.813rem;
          border-radius: 0.5rem;
          margin-left: 0;
          background-color: var(--neutral-900);
          &:hover {
            background-color: var(--black);
          }
          svg {
            height: 0.75rem;
          }
        }
      }
    }
  }
}

.endpoint-docs {
  .tooltip-inner {
    min-width: 20rem;
    code {
      display: block;
      text-align: left;
    }
  }
}
