@keyframes transactionLoaderPulsation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.preloader {
  width: 120px;
  height: 120px;
  position: relative;
  transition: var(--transition);
  animation: transactionLoaderPulsation 2s infinite;
  background: var(--action-bg);
  overflow: hidden;
  border-radius: 8px;
}
