.wrapper {
  background-color: black;
  border-radius: 1rem;
  overflow: hidden;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .statistics {
    padding: 1rem;
    margin-bottom: 2rem;
    min-width: 15.625rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
      padding: 2rem;
    }

    .statistic {
      display: flex;
      line-height: 1;
      align-items: center;
      margin-bottom: 1.5rem;
      justify-content: space-between;

      @media (min-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:last-child {
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      .label {
        font-size: 0.875rem;
        color: var(--neutral-500);
        line-height: 1;

        @media (min-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }

      .value {
        font-size: 1.5rem;
        font-family: 'Roobert Medium';
        font-weight: 500;

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }
    }
  }

  .charts {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-grow: 1;
      min-width: 0;
    }

    .headerwrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .title {
      padding-left: 1.5rem;
      margin-bottom: 0;
    }

    .filters {
      margin-right: 2rem;
      margin-left: auto;
    }

    .wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      color: var(--primary);
      padding: 0 2rem;
    }
  }
}

.tooltip {
  border-radius: 1rem;
  padding: 0.625rem;
  padding-left: 1.75rem;
  line-height: 1;
  font-family: 'Roobert SemiBold';
  font-weight: 600;
  position: relative;
  overflow: hidden;

  .border {
    position: absolute;
    left: 0;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    opacity: 0.15;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .dot {
    left: 0.625rem;
    width: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
    height: 0.625rem;
  }

  .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.15;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to bottom, black 0%, transparent 100%);
      z-index: -2;
    }
  }
}
