@import '../../../layouts/AccountLayout/AccountDetailsCard/accountDetailsCard.styles.scss';
@import '../../../layouts/Layout/layout.styles.scss';
@import '../../../layouts/TokenLayout/TokenDetailsCard/tokenDetailsCard.styles.scss';
@import '../../../layouts/NftLayout/NftPreview/nftPreview.styles.scss';
