.identities {
  .w-10 {
    width: 10%;
  }

  .th-details,
  .th-rank {
    min-width: 1rem;
  }

  .th-stake-percent {
    width: 18.5rem;
  }

  .identity-row {
    position: relative;

    &:hover {
      background-color: $light;
      cursor: pointer;
    }

    &.collapsed {
      .details-arrow {
        transform: rotateZ(-90deg);
      }
    }
  }

  $detailsTableBgColor: $light;

  .identity-details-row {
    background-color: $detailsTableBgColor;

    &:hover {
      background-color: $detailsTableBgColor;
    }

    .nodes-table-wrapper {
      box-shadow: inset 0 2px 4px rgba($standard-box-shadow, 0.1);
    }

    .table-wrapper {
      th {
        background: none;
        text-transform: uppercase;
        font-size: 0.785rem;
        border-bottom: 0;
      }

      tr {
        background-color: $detailsTableBgColor;
        color: #5a6169;
      }
    }

    &.collapsed {
      td {
        border-top: 0;

        .content {
          max-height: 0;
          overflow: hidden;
        }

        .details-arrow {
          transform: rotateZ(-90deg);
        }
      }
    }
  }
}
