.page-hero {
  overflow: hidden;
  transition: all 500ms ease-in-out;
  max-height: 40rem;
  @include media-breakpoint-up(lg) {
    max-height: 20rem;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    z-index: 4;
    transition: height 500ms ease-in-out;
    background: linear-gradient(
      180deg,
      rgba(var(--black-rgb), 0) 0%,
      rgba(var(--black-rgb), 1) 80%
    );
  }
  &.collapsed {
    position: relative;
    max-height: 8rem !important;
    @include media-breakpoint-up(lg) {
      max-height: 9.5rem !important;
    }
    &:after {
      height: 2rem !important;
      transition-delay: 200ms;
    }
    .indicator {
      transform: rotateZ(180deg);
      opacity: 1;
    }
  }
  .indicator {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    right: 0;
    z-index: 5;
    transition: all 500ms ease;
    margin: auto;
    color: var(--neutral-300);
    opacity: 0.6;
    @include media-breakpoint-up(lg) {
      padding: 1rem;
      bottom: -0.5rem;
    }
  }
  &.nodes-stats {
    max-height: 70rem;
    @include media-breakpoint-up(lg) {
      max-height: 35rem;
    }
  }
  &.transactions-stats {
    @include media-breakpoint-up(lg) {
      max-height: 22rem;
    }
    &:after {
      height: 0rem;
    }
  }
  &.transactions-stats {
    .card-header {
      padding-bottom: 0 !important;
    }
  }
}
