.main-content > .main-content-container.container-fluid {
  @include media-breakpoint-up(md) {
    $header-navbar-height: 3.75rem;
    $footer-height: 5rem;

    min-height: calc(100vh - #{$footer-height + $header-navbar-height}) !important;
  }

  .main-search-container {
    background-color: $primary;

    position: relative;

    &:after {
      position: absolute;
      content: ' ';
      background-color: $primary;
      width: 100%;
      height: 2.5rem;
      bottom: -2.5rem;
    }
  }

  .page-container {
    position: relative;

    .page-content {
      // &:before {
      //   position: absolute;
      //   content: ' ';
      //   background-color: $primary;
      //   width: 100%;
      //   height: 2.5rem;
      //   left: 0;
      //   top: 0;
      // }
    }
  }
}
