.leaflet-marker-icon {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.leaflet-div-icon {
  border: 1px solid #242424;
}

.leaflet-control-attribution {
  opacity: 0.1;
  &:hover {
    opacity: 0.5;
  }
}
