// $map-water: #191a1a;
// $map-land: #343332;

$map-water: #262626;
$map-land: #090909;

.leaflet-marker-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.leaflet-div-icon {
  border: 1px solid $map-land;
}

.leaflet-control-attribution {
  opacity: 0.1;
  &:hover {
    opacity: 0.5;
  }
}

.leaflet-container {
  background-color: $map-water !important;
}

.leaflet-control p,
.leaflet-control li {
  text-shadow: -1px -1px 0 $map-land, 1px -1px 0 $map-land, -1px 1px 0 $map-land,
    1px 1px 0 $map-land;
  font-weight: 400;
}

.leaflet-popup-close-button {
  display: none;
}
