.leaflet-marker-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.leaflet-div-icon {
  border: 1px solid #333;
}

.leaflet-control-attribution {
  opacity: 0.1;
  &:hover {
    opacity: 0.5;
  }
}

.leaflet-container {
  background-color: rgba(255, 0, 0, 0);
}

.leaflet-control p,
.leaflet-control li {
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
  font-weight: 400;
}

.leaflet-popup-close-button {
  display: none;
}
