.account-name {
  .tooltip-inner {
    @include media-breakpoint-up(md) {
      max-width: 24rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 30rem;
    }
  }
}

.herotag-logo {
  width: 0.825rem;
  height: 0.825rem;
  opacity: 1;
  fill: var(--#{$prefix}primary);
  margin-bottom: 1px;
  margin-right: 0.25rem;
}
