.hero-nodes {
  .unstyled-chart-box {
    margin: 0;
    @include media-breakpoint-up(xl) {
      width: 100%;
    }
  }
  .multilayer-percentage-bar {
    .progress {
      display: none;
    }
  }
}
