:root {
  // Default all the time
  --white: #fff;
  --black: #000;
  --box-shadow: 0 0.05rem 0.2rem 0.1rem rgb(27 70 194 / 12%);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --transition: all 0.2s ease-in-out;
  --border-radius-high: 24px;
  --border-radius-medium: 16px;
  --border-radius-low: 8px;
  --font-family: 'Inter', sans-serif;

  // Color pallete
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --dark-gray: #121212;

  --red: #ff0000;
  --green: #4ade80;
  --orange: #f2542d;
  --yellow: #fbbf24;
  --blue: #1e65e7;
  --purple: #8b5cf6;
  --teal: #23f7dd;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-700: #0d786c;

  // Overrides
  // Only these variables must be changed across themes
  --gray-dark: var(--dark-gray);
  --gray-100: var(--neutral-100);
  --gray-200: var(--neutral-200);
  --gray-300: var(--neutral-300);
  --gray-400: var(--neutral-400);
  --gray-500: var(--neutral-500);
  --gray-600: var(--neutral-600);
  --gray-700: var(--neutral-700);
  --gray-800: var(--neutral-800);
  --gray-900: var(--neutral-900);

  --primary: var(--teal);
  --primary-200: var(--teal-200);
  --primary-700: var(--teal-700);
  --secondary: var(--neutral-400);
  --accent: var(--teal);
  --danger: var(--red);
  --info: var(--yellow);
  --success: var(--green);
  --warning: var(--orange);
  --muted: var(--neutral-400);

  --primary-rgb: 35, 247, 322;
  --secondary-rgb: 163, 163, 163;
  --muted-rgb: 212, 212, 212;

  --border-color: rgba(38, 38, 38, 0.8);

  --body-color: var(--neutral-100);
  --link-color: var(--neutral-100);
  --link-hover-color: var(--primary);
  --body-bg: var(--neutral-900);

  --data-decode-border-radius: 8px;
  --data-decode-font-size: 1rem;

  --map-bg: #17201f;
  --card-bg: var(--gray-dark);
}
