.links {
  margin-top: 0;
  margin-bottom: 0;

  &.navbar-nav .dropdown-menu {
    position: absolute;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-right: 0.5rem;
  }

  .dropdown-toggle {
    &.show {
      svg.fa-angle-down {
        transform: rotateZ(180deg);
        transition: transform 0.125s ease-out;
      }
    }
    &:after {
      display: none;
    }
  }

  .nav-item {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  .nav-link {
    --link-color: var(--neutral-200);
    --link-hover-color: var(--primary);
    --navbar-active-color: var(--primary);

    --nav-link-color: var(--neutral-200);
    --nav-link-hover-color: var(--primary);

    --nav-link-font-size: 1.125rem;
    --nav-link-padding-x: 0.75rem;
    --nav-link-padding-y: 0.75rem;

    width: 100%;
    line-height: 1;
    transition: all 200ms ease;
    background-color: transparent;
    border-radius: 0.5rem;

    @include media-breakpoint-up(lg) {
      --nav-link-font-size: 0.75rem;
      --nav-link-padding-x: 0.5rem;
      --nav-link-padding-y: 0.5rem;

      width: auto;
      margin-left: 0.25rem;
    }

    @include media-breakpoint-up(xl) {
      --nav-link-font-size: 0.875rem;
      --nav-link-padding-x: 0.75rem;
      --nav-link-padding-y: 0.5rem;
    }

    &:hover,
    &.active {
      --link-color: var(--primary);
      --nav-link-color: var(--primary);
      background-color: var(--black);
      @include media-breakpoint-up(lg) {
        background-color: rgba(black, 0.2);
      }
    }
  }
}
