.identities {
  .w-10 {
    width: 10%;
  }

  .th-details,
  .th-rank {
    min-width: 12px;
  }

  .th-stake-percent {
    width: 260px;
  }

  .identity-row {
    position: relative;

    &:hover {
      background-color: $light;
      cursor: pointer;
    }

    &.collapsed {
      .details-arrow {
        transform: rotateZ(-90deg);
      }
    }

    .stake-bar-col {
      .progress {
        margin: 0 !important;
        background-color: $card-bg;
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        height: 4rem;
        border-radius: 0;

        .progress-bar {
          height: 100%;
        }
      }

      .bar {
        width: 10.32rem;
      }

      .bg-success {
        background-color: $primary-light !important;
      }

      .bg-danger {
        background-color: $primary !important;
        min-width: 2px;
      }
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  $detailsTableBgColor: $light;

  .identity-details-row {
    background-color: $detailsTableBgColor;

    &:hover {
      background-color: $detailsTableBgColor;
    }

    .nodes-table-wrapper {
      box-shadow: inset 0 2px 4px rgba($standard-box-shadow, 0.1);
    }

    .table-wrapper {
      th {
        background: none;
        text-transform: uppercase;
        font-size: 0.785rem;
        border-bottom: 0;
      }

      tr {
        background-color: $detailsTableBgColor;
        color: #5a6169;
      }
    }

    &.collapsed {
      td {
        border-top: 0;

        .content {
          max-height: 0;
          overflow: hidden;
        }

        .details-arrow {
          transform: rotateZ(-90deg);
        }
      }
    }
  }
}
