.progress-ring-wrapper {
  transform: rotate(-90deg);

  &.has-bg {
    background: rgba(23, 23, 23, 0.95);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
  &.sub-second {
    .progress-ring circle {
      transition: stroke-dashoffset 0.1s;
    }
  }

  .progress-ring {
    circle {
      transition: stroke-dashoffset 0.35s;
    }
    &.progress-0 {
      circle {
        transition: none;
      }
    }

    &.disabled,
    &.warning,
    &.danger {
      .track {
        stroke: var(--neutral-600);
      }
    }
    &.warning {
      .fill {
        stroke: var(--warning);
      }
    }
    &.danger {
      .fill {
        stroke: var(--red);
      }
    }
    &.disabled {
      .fill {
        stroke: var(--neutral-600);
      }
    }
    .fill {
      stroke: var(--primary);
    }
    .track {
      stroke: var(--primary-700);
    }
  }

  .progress-ring-label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;

    .label {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-family: 'Roobert SemiBold';
      color: var(--neutral-300);
      font-weight: 600;
    }
    .description {
      font-size: 0.688rem;
      color: var(--neutral-400);
      opacity: 0.6;
    }
  }
}

.block-progress-ring {
  .progress-ring {
    &.progress-1667 {
      circle {
        transition: none !important;
      }
    }
  }
}
