.progress-ring {
  transform: rotate(-90deg);
  &.disabled,
  &.warning,
  &.danger {
    .track {
      stroke: var(--neutral-600);
    }
  }
  &.warning {
    .fill {
      stroke: var(--warning);
    }
  }
  &.danger {
    .fill {
      stroke: var(--red);
    }
  }
  &.disabled {
    .fill {
      stroke: var(--neutral-600);
    }
  }
  .fill {
    stroke: var(--primary);
  }
  .track {
    stroke: var(--primary-700);
  }
}
