.animated-list {
  .animated-row {
    padding-top: 0.93rem;
    padding-bottom: 0.93rem;
    border-bottom: 1px solid $border-color;
  }

  .new {
    @keyframes highlight {
      from {
        background-color: $light;
      }
    }
    animation: highlight 1000ms ease-in-out;
  }

  .list-item-icon {
    border-radius: 50%;
    font-size: 0.9375rem;
    text-align: center;
    color: $secondary;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    background: $light;
    box-shadow: inset 0 0 3px rgba($secondary, 0.2);
    flex-shrink: 0;
  }
}
