.home {
  // // scrollbars overrides
  // ::-webkit-scrollbar {
  //   -webkit-appearance: none;
  //   width: 0.375rem;
  // }

  // ::-webkit-scrollbar-thumb {
  //   border-radius: 0.187rem;
  //   background-color: $muted;
  //   box-shadow: 0 0 1px rgba($white, 0.5);
  //   -webkit-box-shadow: 0 0 1px rgba($white, 0.5);
  // }

  .block-card-container {
    overflow-x: scroll;

    .block-card {
      max-width: 16.5rem;
      border-radius: 0.3rem;
      border: 1px solid $border-color;
      box-shadow: $card-small-box-shadow;
      border-left: 0.5rem solid $primary;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      .list-item-icon {
        border-radius: 50%;
        font-size: 0.9375rem;
        text-align: center;
        color: $secondary;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem;
        background: $light;
        box-shadow: inset 0 0 3px rgba($secondary, 0.2);
        flex-shrink: 0;
      }
    }
  }

  .transactions-card-container {
    overflow: scroll;
    max-height: 36.8rem;

    .transactions-card {
      flex: 0 0 auto;
      border-radius: 0.3rem;
      border: 1px solid $border-color;
      border-left: 0.5rem solid $primary;
      box-shadow: $card-small-box-shadow;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .middle-section {
        max-width: 100%;
        width: 100%;
        overflow: hidden;

        .col-left {
          max-width: 5.8rem;
          padding-right: 0;
          text-align: right;
        }
      }
    }
  }
}
