.home {
  // // scrollbars overrides
  // ::-webkit-scrollbar {
  //   -webkit-appearance: none;
  //   width: 0.375rem;
  // }

  // ::-webkit-scrollbar-thumb {
  //   border-radius: 0.187rem;
  //   background-color: $muted;
  //   box-shadow: 0 0 1px rgba($white, 0.5);
  //   -webkit-box-shadow: 0 0 1px rgba($white, 0.5);
  // }

  .transactions-card-container {
    overflow: scroll;
    max-height: 36.8rem;

    .transactions-card {
      flex: 0 0 auto;
      border-radius: 0.3rem;
      border: 1px solid $border-color;
      border-left: 0.5rem solid $primary;
      box-shadow: $card-small-box-shadow;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .middle-section {
        max-width: 100%;
        width: 100%;
        overflow: hidden;

        .col-left {
          max-width: 5.8rem;
          padding-right: 0;
          text-align: right;
        }
      }
    }
  }
}
