.custom-scroll {
  overflow-x: scroll;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0.375rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $card-border-radius;
    background-color: $muted;
    box-shadow: 0 0 1px rgba($white, 0.5);
    -webkit-box-shadow: 0 0 1px rgba($white, 0.5);
  }
}

.latest-items-container {
  // @extend .custom-scroll;
  @extend .py-3;
  @extend .py-lg-4;
  overflow-x: scroll;

  display: flex;
  flex-direction: row;

  .latest-item-icon {
    display:flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    font-size: 0.9375rem;
    text-align: center;
    color: $secondary;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    background: $light;
    box-shadow: inset 0 0 3px rgba($secondary, 0.2);
    flex-shrink: 0;
  }

  .latest-item-card {
    @extend .p-3;
    display: flex;
    flex-direction: column;
    max-width: 20.5rem;
    border-radius: 0.3rem;
    border: 1px solid $border-color;
    box-shadow: $card-small-box-shadow;
    border-left: 0.3rem solid $primary;

    box-shadow: 0 2px 4px 0 rgba($standard-box-shadow, 0.20);

    &.status-text-success {
      border-left: 0.3rem solid $success;
    }

    &.status-text-warning {
      border-left: 0.3rem solid $warning;
    }

    &.status-text-danger {
      border-left: 0.3rem solid $danger;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: -1rem !important;

    .latest-item-card {
      max-width: none;
      margin-right: 0 !important;
      margin-bottom: 1rem !important;

      &.hide-sm {
        display: none;
      }
    }
  }
}
