$highlights-light: #f5f5f5;
.highligths {
  .highlight-item {
    color: rgba($highlights-light, 0.6);

    .h5,
    .current-epoch {
      color: $white;
    }

    .epoch-time {
      .epoch-progress {
        width: 5.6rem;
        height: 0.25rem;
        border-radius: 0.125rem;
        margin-top: 0.125rem;
        margin-bottom: 0.187rem;
        background: rgba($highlights-light, 0.5);

        .fill {
          background: $highlights-light;
          height: 0.25rem;
          border-top-left-radius: 0.125rem;
          border-bottom-left-radius: 0.125rem;
        }
      }

      small {
        font-size: 60%;
      }
    }
  }
}
