@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/mixins';
@import './../../../node_modules/bootstrap/scss/variables';

/* Hero Blue
-------------------------------------------------- */
// .bg-blue {
//     background-image: linear-gradient(150deg, #007bff, #006fe6);
//     background-repeat: repeat-x;
// }

.highlights {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.highlights li {
  display: block;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0;
}

.highlight-icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 1rem;
  text-align: center;
  margin-right: 0.8rem;
  float: left;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
}

.highlight-label {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #fff;
  opacity: 0.7;
  display: block;
  margin-bottom: 0.2rem;

  &.epoch-label {
    opacity: 1;
    .fade {
      opacity: 0.7;
    }
  }
}

.highlight-value {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 300;
  display: inline-block;
  float: left;
}

.highlight-link {
  display: inline-block;
  float: left;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.1rem;
  margin-left: 0.6rem;
  svg {
    color: rgba(255, 255, 255, 0.4) !important;
  }
  &:hover {
    svg {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}
.highlight-link svg:hover {
  color: rgba(255, 255, 255, 0.8);
}

.highlight-address {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;

  @include media-breakpoint-up(md) {
    max-width: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }

  // @include media-breakpoint-up(xl) {
  //     max-width: 800px;
  // }
}

.epoch-progress {
  width: 90px;
  height: 4px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 1px;
  background: rgba(255, 255, 255, 0.5);
  .fill {
    background: #fff;
    height: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.epoch-time {
  padding-top: 0.11rem;
}
