.block-details {
  // .hash {
  //   white-space: nowrap;
  //   max-width: 400px;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   float: left;
  //   display: inline-block;
  //   margin-right: 10px;
  // }

  .genesis {
    background-color: #f5f6f7;
    color: #495057;
    font-size: 1rem;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
