.block-details {
  .hash-group-row {
    .col {
      padding-left: 0;
      padding-right: 1px; // mobile fix
    }

    .hash-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > .hash-item {
        flex: 1 1 40%;
        margin: 0 1rem;
      }
    }

    .text-muted {
      margin-left: 0.94rem;
    }
  }

  .genesis {
    background-color: $input-disabled-bg;
    color: $secondary;
    font-size: 1rem;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
}
