.shards-list {
  .shard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex: 0 0 33.333%;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 50%;
    }
  }
}
