@import './components/VerifiedBadge/verifiedBadge.styles.scss';

.hero-details-card {
  background-color: var(--black);
  &-overview {
    @include media-breakpoint-up(md) {
      margin-top: 1.5rem;
    }
  }
  &-logo {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: 1px solid var(--border-color);
    img {
      width: 100%;
      height: 100%;
      color: transparent;
    }
    svg {
      width: auto;
      height: 50%;
      color: var(--neutral-700);
    }
    &.has-placeholder {
      border-radius: unset;
      border: unset;
      svg {
        margin-top: 0.75rem;
        height: 2rem;
        @include media-breakpoint-up(md) {
          margin-top: 1rem;
          height: 7rem;
        }
      }
    }
    @include media-breakpoint-up(md) {
      margin-left: 0.625rem;
      min-width: 9.375rem;
      min-height: 9.375rem;
      width: 9.375rem;
      height: 9.375rem;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    h1 {
      letter-spacing: -0.03em;
      @include media-breakpoint-up(xxl) {
        &.has-content {
          display: contents;
          .title-container {
            display: block;
            max-width: 46rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 0.5rem;
          }
        }
      }
      .trim {
        max-width: calc(90vw - 5rem);
        letter-spacing: normal;
        .left span,
        .right span,
        .ellipsis {
          font-size: 1.5rem;
          letter-spacing: normal;
          @include media-breakpoint-up(md) {
            font-size: 2.5rem;
          }
        }
        @include media-breakpoint-up(md) {
          max-width: 32rem;
        }
        @include media-breakpoint-up(lg) {
          max-width: 44rem;
        }
        @include media-breakpoint-up(xl) {
          max-width: 47rem;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }
  }
  &-description {
    font-family: var(--headings-font-family);
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .detail-items-container {
    row-gap: 1rem;
    .hero-detail-item {
      .description {
        font-size: 1rem;
        font-family: var(--headings-font-family);
        color: var(--neutral-400);
      }
      @include media-breakpoint-up(xl) {
        .title {
          max-width: 8rem;
        }
      }
    }
  }
  &-cards {
    margin-top: 2.5rem;

    .stats-card {
      .stats-card-body {
        justify-content: start;
        gap: 0.5rem;
      }
      .stats-card-value {
        font-size: 1.5rem;
        letter-spacing: -0.03em;
      }
      .balance-usd {
        font-size: 0.875rem;
        font-family: var(--font-headings-regular);
        margin-top: 0.5rem;
        color: var(--neutral-500);
      }
    }
    .small-stats-cards-container {
      @include media-breakpoint-down(xl) {
        flex: 1 1 auto;
      }
    }
    .stats-card-content-container {
      display: flex;
      flex-direction: column;
    }
  }

  // Custom Styling
  &.application-details,
  &.token-details {
    .stats-card {
      @include media-breakpoint-up(xl) {
        flex-grow: 0;
      }
    }
  }
  &.application-details {
    @include media-breakpoint-up(xl) {
      .stats-card {
        max-width: 20rem;
      }
    }
  }
}
