.custom-scroll {
  overflow-x: scroll;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0.375rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $card-border-radius;
    background-color: $muted;
    box-shadow: 0 0 1px rgba($white, 0.5);
    -webkit-box-shadow: 0 0 1px rgba($white, 0.5);
  }
}

.latest-items-container {
  $itemMaxWidth: 20.5rem;

  @extend .py-3;
  @extend .py-lg-4;
  
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  .latest-item {
    transition: 0.3s max-width ease-in-out, 1s opacity ease-in-out;
    max-width: $itemMaxWidth;
    white-space: nowrap;
    opacity: 1;

    @include media-breakpoint-up(md) {
      &.isNew {
        max-width: 0;
        opacity: 0;
      }
  
      &:not(:last-child) {
        .latest-item-card {
          margin-right: 1.5rem;
        }
      }
    }


    .latest-item-card {
      @extend .p-3;
      max-width: $itemMaxWidth;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      border: 1px solid $border-color;
      border-left: 0.3rem solid $primary;
      box-shadow: 0 2px 4px 0 rgba($standard-box-shadow, 0.20);
  
      &.status-text-success {
        border-left: 0.3rem solid $success;
      }
  
      &.status-text-warning {
        border-left: 0.3rem solid $warning;
      }
  
      &.status-text-danger {
        border-left: 0.3rem solid $danger;
      }
  
      .latest-item-icon {
        display:flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
        font-size: 0.9375rem;
        text-align: center;
        color: $secondary;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem;
        background: $light;
        box-shadow: inset 0 0 3px rgba($secondary, 0.2);
        flex-shrink: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: -1rem !important;

    .latest-item  {
      margin-right: 0 !important;
      margin-bottom: 1rem !important;
      max-width: none;

      &.hide-sm {
        display: none;
      }

      .latest-item-card {
        max-width: none;
      }
    }
  }
}
