@mixin left-bar($color) {
  border-left: 0.5rem solid rgba($color, 0.3) !important;
}

.latest-items-container {
  $itemMaxWidth: 20.5rem;

  @extend .m-3;
  @extend .my-lg-4;
  @extend .mx-lg-spacer;

  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0.285rem 0;

  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1rem;
    z-index: 999;
    background: linear-gradient(90deg, rgba($card-bg, 0.3) 30%, rgba($card-bg, 0.7) 50%);
  }

  .latest-item {
    transition: 0.3s max-width ease-in-out, 1s opacity ease-in-out;
    max-width: $itemMaxWidth;
    white-space: nowrap;
    opacity: 1;

    @include media-breakpoint-up(md) {
      &.isNew {
        max-width: 0;
        opacity: 0;
      }

      .latest-item-card {
        margin-right: 1.5rem;
      }
    }

    // & + .latest-item {
    //   .latest-item-card:after {
    //     opacity: 50%;
    //   }
    // }

    .latest-item-card {
      @extend .p-3;
      @include left-bar($primary);

      max-width: $itemMaxWidth;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      border: 1px solid $border-color;
      box-shadow: 0 2px 4px 0 rgba($standard-box-shadow, 0.2);
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 0.5rem;
        height: 100%;
        top: 0;
        left: -0.5rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        opacity: 40%;
        background: linear-gradient(to bottom, #2190ff, #002bff);
      }

      &.status-text-success {
        @include left-bar($success);
        &:after {
          background: linear-gradient(to bottom, #37e688, #11ad8e);
        }
      }

      &.status-text-warning {
        @include left-bar($warning);
        &:after {
          background: linear-gradient(to bottom, #ff9f1a, #e64e17);
        }
      }

      &.status-text-danger {
        @include left-bar($danger);
        &:after {
          background: linear-gradient(to bottom, #f2526d, #c72828);
        }
      }

      .latest-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        font-size: 0.9375rem;
        text-align: center;
        color: $secondary;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem;
        background: $light;
        box-shadow: inset 0 0 3px rgba($secondary, 0.2);
        flex-shrink: 0;
      }

      .transaction-value {
        width: 8.5rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: 0rem !important;

    &:after {
      content: none;
    }

    .latest-item {
      margin-right: 0 !important;
      margin-bottom: 1rem !important;
      max-width: none;

      &.hide-sm {
        display: none;
      }

      .latest-item-card {
        max-width: none;
        .symbol {
          max-width: none;
        }
      }
    }
  }
}
