@import './../../../../node_modules/bootstrap/scss/functions';

@import './variables/bootstrap-variables';

@import './../../../../node_modules/bootstrap/scss/maps';
@import './../../../../node_modules/bootstrap/scss/mixins';
@import './../../../../node_modules/bootstrap/scss/utilities';

// Possible entries

// $slates,
// $zincs,
// $neutrals,
// $stones,
// $reds,
// $oranges,
// $ambers,
// $yellows,
// $limes,
// $greens,
// $emeralds,
// $teals,
// $cyans,
// $skys,
// $blues,
// $indigos,
// $violets,
// $purples,
// $fuchsias,
// $pinks,
// $roses,
// $primarys,

// Add css variables for the main palette colors
$main-colors: map-merge-multiple(
  $neutrals,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $blues,
  $violets,
  $purples,
  $primarys
);

// Generate helper classes like text-primary-200 and bg-primary-500
$helper-colors: map-merge-multiple($neutrals, $primarys, $reds, $greens);

$utilities: map-merge(
  $utilities,
  (
    'color':
      map-merge(
        map-get($utilities, 'color'),
        (
          local-vars: (),
          values:
            map-merge(
              map-get(map-get($utilities, 'color'), 'values'),
              ($helper-colors)
            )
        )
      )
  )
);

$utilities: map-merge(
  $utilities,
  (
    'background-color':
      map-merge(
        map-get($utilities, 'background-color'),
        (
          local-vars: (),
          values:
            map-merge(
              map-get(map-get($utilities, 'background-color'), 'values'),
              ($helper-colors)
            )
        )
      )
  )
);

:root {
  // Note: Custom variable values only support SassScript inside `#{}`.

  // Colors
  //
  // Generate scss variables for used palettes

  @each $color, $value in $main-colors {
    --#{$prefix}#{$color}: #{$value};
  }
}

@import './../../../../node_modules/bootstrap/scss/utilities/api';
