.percentage-chart {
  display: inline;
  svg {
    background: transparent;
    border: 1px solid $border-color;
    border-radius: 50%;
    margin-top: -0.2rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
  }
  circle {
    fill: transparent;
    stroke: $primary;
    stroke-width: 32;
  }
  @for $i from 0 through 100 {
    &[data-percentage='#{$i}'] circle {
      stroke-dasharray: #{$i} 100;
    }
  }
}
