.global-stats-card {
  .epoch-gear-container {
    background: radial-gradient(circle, rgba($primary-light, 0.25) 60%, rgba(0, 0, 0, 0) 40%)
      no-repeat;
    position: relative;
    width: 7rem;
    height: 7rem;

    .epoch-gear-bg {
      @extend .position-absolute-center;
      width: 150%;
      height: 150%;
      z-index: 1;
    }

    .animate {
      svg {
        z-index: 10;
      }
    }

    .gear-content {
      @extend .position-absolute-center;
      z-index: 20;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }
  }
}
