.applications {
  .applications-table {
    th {
      &.transfers,
      &.users,
      &.balance,
      &.fees,
      &.deployed {
        min-width: 13%;
        max-width: 13%;
      }

      &.deployed {
        text-align: right;
      }
      &:last-child {
        padding-right: 1rem !important;
      }
    }
  }
}
