.identity-card {
  .identity-avatar {
    width: 7.5rem;
    height: 7.5rem;
    margin-right: 0 !important;
  }

  .identity-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: var(--primary);
    border-radius: 0.375rem;
    padding: 0.188rem 0.75rem 0.188rem 0.313rem;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 0.813rem;
    color: #08302c;
    margin-right: 3rem;
    .badge-side {
      position: absolute;
      left: 2.375rem;
      padding: 0.375rem 0.75rem;
      border-radius: 1rem;
      font-size: $font-size-base;
      border: 2px solid var(--primary);
      color: var(--primary-200);
      background: linear-gradient(
        90deg,
        rgba(0, 143, 93, 0.2) 0%,
        rgba(0, 126, 143, 0.2) 100%
      );
      backdrop-filter: blur(5px);
    }
  }

  .idenity-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .identity-name {
    max-width: 14rem;
    .ellipsis,
    .trim .left span,
    .trim .right span {
      font-size: $h5-font-size;
      line-height: 3rem;
      margin-bottom: 0;
    }
  }

  .detail-card {
    display: flex;
    flex-grow: 1;
    @include media-breakpoint-up(xxl) {
      flex-basis: 15%;
    }
    .stats-card-value {
      font-weight: 500;
      letter-spacing: -3px;
    }
  }
  .stake-card {
    flex-grow: 1;
    width: 100%;
    .btn {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      flex-basis: 20%;
      width: auto;
      .btn {
        width: auto;
      }
    }
  }
  .nodes-card {
    flex-grow: 1;
    width: 100%;
    .nodes-card-title {
      color: var(--neutral-400);
    }
    .nodes-card-value {
      font-weight: 500;
      font-size: 2rem;
      color: var(--neutral-300);
    }
    @include media-breakpoint-up(lg) {
      flex-basis: 20%;
      width: auto;
    }
  }

  .distribution-card {
    flex-grow: 1;
    width: 100%;
    .distribution-card-title {
      color: var(--neutral-400);
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 65%;
      width: auto;
    }
  }

  .flex-1 {
    flex: 1;
  }

  .multilayer-percentage-bar {
    .legend-dot-container {
      @extend .mt-0;
      flex-direction: column;
    }

    .legend-dot {
      @extend .mt-2;

      small {
        font-size: 1rem;
      }
    }
  }

  .middle-gear {
    height: 12rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
}

.identity-social-logo {
  width: 1.1rem;
  height: 1.1rem;
  opacity: 1;
  fill: var(--neutral-400);
}

.font-weight-600 {
  font-weight: 600;
}
