.tokens,
.tokens-meta {
  .table {
    .token-icon {
      width: 3rem;
      height: 3rem;
    }
    .token-description {
      max-width: 16rem;
    }
    @include media-breakpoint-down(md) {
      .token-description {
        display: none;
      }
    }
    @include media-breakpoint-down(lg) {
      th:first-child,
      td:first-child {
        width: 35%;
      }
      th:last-child,
      td:last-child {
        max-width: 8rem;
      }
    }
  }
}
