.analytics {
  .custom-tooltip {
    outline: none !important;
    padding: 0;
    border: 1px solid var(--card-bg) !important;
    background-color: var(--neutral-900) !important;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.8;

    .recharts-tooltip-label {
      background-color: var(--card-bg) !important;
      opacity: 1;
      padding: 0.25rem 0.5rem;
      text-align: start;

      span {
        font-weight: 600;
        font-size: 12px;
      }
    }

    .recharts-tooltip-item-list {
      padding: 0 0.5rem;

      li {
        padding: 0.25rem 0;

        .item-label {
          font-weight: 400;
          font-size: 12px;
        }

        .item-value {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
}
