.main-search {
  .form-control {
    box-shadow: var(--box-shadow);
    padding-right: 3.5rem !important;

    @include media-breakpoint-up(lg) {
      padding-right: 4rem !important;
    }
    &::placeholder {
      color: var(--muted);
    }
    &:focus-visible {
      text-shadow: none;
      &::placeholder {
        color: var(--muted);
      }
    }
  }

  .input-group-text {
    color: var(--secondary);

    &:hover {
      color: var(--primary);
    }
  }
}
