.chart {
  .chart-container {
    width: 6rem;
    height: 6rem;
    margin: 0;
    padding: 0;

    & > div {
      width: 6rem;
      height: 6rem;
    }

    .chart-symbol {
      width: 2rem;
      height: 2rem;
      fill: $white;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .badge-delegation {
    background-color: #6b87d7;
  }

  .badge-rewards {
    background-color: #d2d2d2;
  }

  .delegation-label {
    opacity: 0.7;
  }

  .badge-status {
    height: 0.7rem;
    width: 0.7rem;
    display: inline-block;
    overflow: hidden;
    padding: 0;
  }
}

.delegation-page-state {
  .mt-spacer {
    margin-top: 0 !important;
  }
}
