.chart {
  .chart-container {
    width: 6rem;
    height: 6rem;
    margin: 0;
    padding: 0;
    background: url('./../../../assets/images/elrond-symbol-chart.svg') no-repeat;
    background-position: center center;

    & > div {
      width: 8rem;
      height: 8rem;
      margin-top: -0.04rem;
      margin-left: -1.09rem;
    }
  }
  .badge-delegation {
    background-color: #6b87d7;
  }

  .badge-rewards {
    background-color: #d2d2d2;
  }

  .delegation-label {
    opacity: 0.7;
  }

  .badge-status {
    height: 0.7rem;
    width: 0.7rem;
    display: inline-block;
    overflow: hidden;
    padding: 0;
  }
}
