// BADGES
a.badge,
button.badge {
  &:hover {
    color: inherit;
  }
}

.badge-primary,
.badge-green-alt,
.badge-yellow,
.badge-orange,
.badge-grey {
  border: 0;
  line-height: 1rem;
  color: var(--neutral-50);
  min-width: 1.5rem;
}

.badge-primary-alt {
  color: var(--primary-200);
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 0.4),
    rgba(0, 217, 245, 0.4)
  );
}
.badge-green-alt {
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 0.3),
    rgba(0, 217, 245, 0.3)
  );
}
.badge-yellow {
  background: linear-gradient(
    90deg,
    rgba(240, 152, 25, 0.4),
    rgba(237, 222, 93, 0.4)
  );
}
.badge-orange {
  background: linear-gradient(
    90deg,
    rgba(240, 77, 25, 0.2) 0%,
    rgba(237, 136, 93, 0.2) 100%
  );
}
.badge-grey {
  color: var(--neutral-400);
  background: linear-gradient(
    90deg,
    rgba(117, 127, 154, 0.3),
    rgba(215, 221, 232, 0.3)
  );
}

.badge-outline {
  border: 0;
  position: relative;
  line-height: 1rem;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: $badge-border-radius;
    padding: 1px;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  &-green {
    color: var(--green-500);
    background: linear-gradient(
      90deg,
      rgba(74, 222, 128, 0.06) 0%,
      rgba(134, 239, 172, 0.06) 36.32%,
      rgba(22, 163, 74, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(134, 239, 172, 0.5),
        rgba(74, 222, 128, 0.5),
        rgba(22, 163, 74, 0.5)
      );
    }
  }
  &-green-alt {
    color: var(--teal-100);
    background: linear-gradient(
      90deg,
      rgba(0, 245, 160, 0.06) 0%,
      rgba(0, 217, 245, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(0, 245, 160, 0.3),
        rgba(0, 217, 245, 0.3)
      );
    }
  }
  &-yellow {
    color: var(--yellow-200);
    background: var(--neutral-900);
    &:before {
      background: linear-gradient(
        90deg,
        rgba(240, 152, 25, 0.4),
        rgba(237, 222, 93, 0.4)
      );
    }
  }
  &-orange {
    color: var(--orange-200);
    background: var(--neutral-900);
    &:before {
      background: linear-gradient(
        90deg,
        rgba(240, 77, 25, 0.4),
        rgba(237, 136, 93, 0.4)
      );
    }
  }
  &-grey {
    color: var(--neutral-500);
    background: linear-gradient(
      90deg,
      rgba(117, 127, 154, 0.06) 0%,
      rgba(215, 221, 232, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(117, 127, 154, 0.3),
        rgba(215, 221, 232, 0.3)
      );
    }
    &.active {
      @extend .badge-grey;
      &:before {
        display: none;
      }
    }
  }
  &-primary {
    color: var(--primary);
    background: var(--neutral-900);
    &:before {
      background: linear-gradient(90deg, var(--teal), #47e8d3);
    }
  }
  &-violet-400 {
    color: var(--violet-400);
    background: var(--neutral-900);
    &:before {
      background: linear-gradient(90deg, var(--violet-400), #b6a1f3);
    }
  }
  &-primary-alt {
    color: var(--primary-200);
    &:before {
      background: linear-gradient(
        90deg,
        rgba(0, 245, 160, 0.4) 0%,
        rgba(0, 217, 245, 0.4) 100%
      );
    }
  }
  &-yellow-alt {
    color: var(--yellow-500);
    background: linear-gradient(
      90deg,
      rgba(240, 77, 25, 0.05),
      rgba(237, 136, 93, 0.05)
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(240, 77, 25, 0.4),
        rgba(237, 136, 93, 0.4)
      );
    }
  }
  &-highlight {
    background-color: rgba(var(--orange-400-rgb), 0.1);
    outline: 1px rgba(var(--orange-400-rgb), 0.8) dashed;
    outline-offset: -1px;
    &:before {
      background: none;
    }
  }

  &.badge-rounded {
    line-height: 1rem;
    border-radius: 6px;
    padding: 0.125rem 0.5rem;
    &:before {
      border-radius: 6px;
    }
  }
}

.badge-direction,
.badge-propery {
  min-width: 40px;
}

.badge-property {
  &.active {
    @extend .badge-outline-primary-alt;
  }
  &.inactive {
    @extend .badge-outline-yellow-alt;
  }
}

.badge-direction {
  font-weight: 600;
  &.out {
    @extend .badge-outline-yellow;
  }
  &.in {
    @extend .badge-outline-green;
  }
  &.self {
    @extend .badge-outline-grey;
  }
  &.internal,
  &.int,
  &.inner-tx {
    @extend .badge-outline-grey;
  }
}

.tx-badge {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-900);
  svg {
    margin-right: 0 !important;
  }
  border-color: var(--neutral-400);
}
.tx-badge,
.tx-status {
  cursor: context-menu;
}

.filter-badge {
  display: flex;
  color: var(--neutral-300);
  border: 1px solid rgba(212, 212, 212, 0.1);
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  background: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 2rem;

  &.first {
    color: var(--violet-400);
    border-color: var(--violet-400);
    .led {
      background-color: var(--violet-400);
    }
  }

  &.second {
    color: var(--primary);
    border-color: var(--primary);
    .led {
      background-color: var(--primary);
    }
  }

  &.legend-item {
    padding: 0.75rem 1.125rem;
  }
}

/* General Badges
-------------------------------------------------- */

.badge-sm {
  --#{$prefix}badge-padding-x: 0.25rem;
  --#{$prefix}badge-padding-y: 0;
  --#{$prefix}badge-font-size: 0.75rem;
  --#{$prefix}badge-font-weight: 600;
  --#{$prefix}badge-color: var(--#{$prefix}neutral-100);
  --#{$prefix}badge-border-radius: 0.125rem;

  line-height: 1rem;
  font-family: var(--#{$prefix}font-headings-semibold);
  background-color: rgba(
    var(--#{$prefix}badge-bg, var(--#{$prefix}neutral-650-rgb)),
    var(--#{$prefix}bg-opacity, 1)
  );
}
