.scrollbar {
  scrollbar-width: thin;
}

@mixin webkit-scrollbar {
  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar:horizontal {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    &::-webkit-scrollbar:horizontal {
      height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:horizontal {
      border-radius: 0.5rem;
      background-color: var(--scrollbar-color-thumb);
      border: 2.5px solid transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-color-thumb-hover);
      border: 2px solid transparent;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-resizer {
      background-color: transparent;
    }
  }

  :hover {
    --fix: ; /* This custom property invalidates styles on hover, thereby enforcing a style recomputation. This is needed to work around a bug in Safari. */
  }
}

.ubuntu,
.windows,
.linux,
.blink:not(.ios),
.webkit:not(.mac-os):not(.ios) {
  &.scrollbar {
    overflow-x: hidden;

    @include webkit-scrollbar;
  }

  .table-wrapper {
    @include webkit-scrollbar;
  }

  textarea,
  .textarea {
    @include webkit-scrollbar;
  }
  .textarea {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-corner {
      background-color: var(--neutral-800);
    }
  }
  textarea {
    &::-webkit-scrollbar-track {
      margin: 0.625rem;
    }
  }
  .textarea-wrapper {
    background-color: var(--neutral-800);
  }
}

.textarea-wrapper {
  padding: 1px;
  overflow: hidden;
  border-radius: 1rem;
}

.modal {
  scrollbar-width: thin;
}

html {
  scrollbar-width: thin;
  @supports (scrollbar-width: auto) {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  }
}
