.tabs {
  display: inline-flex;
  align-items: center;
  border-radius: 0.75rem;
  background-color: var(--neutral-800);
  padding: 0.25rem;
  flex-wrap: wrap;
  gap: 0.25rem;

  .tab {
    transition: all 200ms ease;
    cursor: pointer;
    font-weight: 400;
    font-family: var(--headings-font-family);
    line-height: 1;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--primary-200);
    border-radius: 0.5rem;
    background-color: transparent;

    @include media-breakpoint-up(md) {
      font-size: 1rem;
      padding: 0.75rem 1rem;
    }

    &:hover {
      color: var(--neutral-100);
      background-color: var(--neutral-700);
    }

    &.active {
      color: var(--neutral-100);
      background-color: var(--black);
    }

    &.active:not(.extra-tab) {
      cursor: default;
      pointer-events: none;
    }

    &.extra-tab {
      color: var(--primary);

      &.active {
        color: var(--primary);
      }
      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
