.proof-details,
.nft-details {
  .attributes-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .attribute {
      p {
        margin-bottom: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        &.value {
          font-family: 'Roobert SemiBold';
          font-weight: 600;
        }
        &.trait {
          font-size: 90%;
          margin-bottom: 0.25rem;
          color: var(--neutral-400);
        }
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 11.75rem;
      overflow: hidden;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: $border-radius;
      background-color: var(--neutral-800);
      padding: 1rem;
    }
  }

  .nft-card-item {
    padding: 0.75rem 0.125rem !important;
  }
}
