.main-navbar {
  &.sticky-top {
    z-index: 2000;
  }
  .main-symbol,
  .main-logo,
  .main-logo-short {
    fill: var(--body-color);
  }

  .dropdown-toggle {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;

    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    border: 1px solid var(--border-color) !important;
    border-radius: 0.25rem !important;
    top: -0.5rem !important;
    width: auto !important;
    right: auto !important;
    left: 0 !important;
  }

  .sun {
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: -0.16rem;

    path {
      fill: var(--muted);
    }

    &:hover {
      path {
        fill: var(--primary);
      }
    }
  }

  .nav-links {
    .nav-link {
      align-items: center;
      justify-content: center;
      display: flex;
      border-top: 0.25rem solid transparent;
      border-bottom: 0.25rem solid transparent;
      color: var(--neutral-400);

      &.active {
        color: var(--primary);
        border-bottom-color: var(--primary);
      }
    }
  }
}

.main-navbar,
.header-navbar {
  background: var(--card-bg);

  .nav-link,
  .nav-link-icon {
    transition: color 200ms ease;
    min-width: auto !important;

    .material-icons {
      transition: color 200ms ease;
      color: var(--muted);
      top: 0;

      &.icon-sm {
        font-size: 1rem;
      }
    }

    &:hover {
      color: var(--primary);

      .material-icons {
        color: var(--primary);
      }
    }
  }

  .nav-link:hover {
    .nav-link-icon {
      color: var(--primary);

      .material-icons {
        color: var(--primary);
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      &.active {
        background-color: transparent;
        color: var(--primary);
      }
    }
  }
}

.header-navbar {
  .nav-link {
    border-bottom: 1px solid transparent !important;
    margin-right: 1.25rem !important;

    &:hover {
      .nav-link-icon {
        color: var(--primary);
      }
    }
  }

  .nav-link-icon {
    color: var(--neutral-400);
  }

  .dropdown-toggle {
    &:after {
      content: none !important;
    }
  }

  .dropdown-menu {
    padding-top: 0;
  }
}
