.main-navbar {
  .main-symbol,
  .main-logo,
  .main-logo-short {
    fill: var(--body-color);
  }

  .dropdown-toggle {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;

    &:after {
      content: none;
    }
  }

  .dropdown-menu {
    border-radius: 0.5rem !important;
    width: auto !important;
    right: auto !important;
    left: -1.5rem !important;
  }

  .nav-links {
    gap: 0.25rem;
    .nav-link {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: $font-size-base;
      line-height: 1.125rem;
      padding: 0.5rem 0.75rem;
      background-color: transparent;
      border-radius: 8px;

      color: var(--body-color);
      &.active,
      &:hover {
        background: var(--neutral-800);
        color: var(--primary);
      }
    }
  }
}

.navbar-nav {
  gap: 0.5rem;
  .dropdown-toggle {
    cursor: pointer;
    align-items: center;
    color: var(--neutral-400);
    background: var(--neutral-800);
    border-radius: 44px;
    display: flex;
    height: 44px;
    justify-content: center;
    padding: 12px;
    min-width: 44px;

    .nav-link,
    .svg-inline--fa {
      color: var(--neutral-400);
      font-size: 16px;
    }

    &.show,
    &:hover {
      color: var(--primary);
      .svg-inline--fa {
        color: var(--primary);
      }
    }
  }
}

.main-navbar {
  background-color: rgba(23, 23, 23, 0.9);
  height: 76px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .main-navbar {
    background: linear-gradient(
        0deg,
        rgba(23, 23, 23, 0.4),
        rgba(23, 23, 23, 0.4)
      ),
      linear-gradient(
        180deg,
        #171717 0%,
        rgba(23, 23, 23, 0.6) 47.25%,
        rgba(23, 23, 23, 0.5) 100%
      );
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }
}
