.transactions-table {
  .table {
    .trim-hash {
      max-width: 8rem;

      @include media-breakpoint-up(lg) {
        max-width: 9rem;
      }

      @include media-breakpoint-up(xl) {
        max-width: 10rem;
      }
    }
    th,
    td {
      .sender,
      .receiver {
        min-width: 10rem;
        max-width: 10rem;
      }
      &:last-child {
        padding-right: 1rem !important;
      }
    }
    .transaction-value {
      max-width: 13.5rem;
      min-width: 13.5rem;
    }
    .transaction-function {
      max-width: 9.5rem;
      min-width: 9.5rem;
      .transaction-function-badge {
        max-width: 8rem;
      }
    }
  }
  &.has-direction {
    .table {
      th,
      td {
        .sender,
        .receiver {
          min-width: 9.5rem;
          max-width: 9.5rem;
        }
      }
    }
  }
}

.filter-block {
  margin-bottom: 1rem;
  .search-filter {
    .clear {
      fill: var(--neutral-500);
      width: 1rem;
      height: 1rem;
      margin-right: -3px;
      &:hover {
        fill: var(--primary);
      }
    }
  }
  .input-group-text:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0.325rem;
    bottom: 0.325rem;
    width: 1px;
    background-color: var(--neutral-500);
  }
}
.filter-block:last-of-type {
  margin-bottom: 0;
}
