.transactions-table {
  .table {
    th,
    td {
      .sender,
      .receiver,
      .hash {
        min-width: 10rem;
        max-width: 10rem;
      }
      &.sender,
      &.receiver,
      &.hash {
        width: 11rem;
        min-width: 11rem;
        max-width: 11rem;
      }
      &:last-child {
        padding-right: 1rem !important;
      }
    }
    .transaction-value {
      color: var(--body-color);
      max-width: 12.5rem;
      min-width: 12.5rem;
    }
    .transaction-function {
      max-width: 9.5rem;
      min-width: 9.5rem;
      .transaction-function-badge {
        max-width: 8rem;
      }
    }
  }
  &.has-direction {
    .table {
      th,
      td {
        .sender,
        .receiver {
          min-width: 9.5rem;
          max-width: 9.5rem;
        }
      }
    }
  }
  &.transactions-in-pool-table {
    .table {
      .sender,
      .receiver {
        min-width: 12rem;
        max-width: 12rem;
      }
      .hash {
        min-width: 18rem;
        max-width: 18rem;
      }
    }
  }
}

.filter-block {
  margin-bottom: 1rem;
  .search-filter-block {
    max-width: auto !important;
    .search-icon {
      width: 2.375rem;
      .clear {
        fill: var(--neutral-500);
        width: 1rem;
        height: 1rem;
        &:hover {
          fill: var(--primary);
        }
      }
    }
  }
  .input-group-text:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0.325rem;
    bottom: 0.325rem;
    width: 1px;
    background-color: var(--neutral-500);
  }
}
.filter-block:last-of-type {
  margin-bottom: 0;
}
