.transactions-table {
  .table {
    .trim-hash {
      max-width: 8rem;

      @include media-breakpoint-up(lg) {
        max-width: 9rem;
      }

      @include media-breakpoint-up(xl) {
        max-width: 10rem;
      }
    }
    th,
    td {
      .sender,
      .receiver {
        max-width: 10.5rem;
      }
      &:last-child {
        padding-right: 1rem !important;
      }
    }
    .transaction-value {
      max-width: 11.5rem;
      min-width: 11.5rem;
    }
    .transaction-function {
      width: 10.5rem;
      .transaction-function-badge {
        max-width: 9.5rem;
        line-height: 1.2;
      }
    }
  }
  &.has-direction {
    .table {
      th,
      td {
        .sender,
        .receiver {
          max-width: 10rem;
        }
      }
    }
  }
}

.filter-block {
  margin-bottom: 1rem;
  .form-control {
    background-color: var(--body-background);
    &:hover {
      border-color: var(--primary);
    }
  }
  .input-group-seamless.input-group.has-validation > .form-control {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }

  .input-group.input-group-seamless > .input-group-append,
  .input-group.input-group-seamless > .input-group-prepend {
    bottom: auto;
  }

  .input-group.input-group-seamless > .form-control:not(:last-child),
  .input-group.input-group-seamless > .custom-select:not(:last-child) {
    padding-right: 50px;
  }

  .input-group.input-group-seamless > .input-group-append .input-group-text,
  .input-group.input-group-seamless > .input-group-prepend .input-group-text {
    padding: 10px 8px;
    color: var(--muted);
    font-size: 0.75rem;
    &:hover {
      color: var(--primary);
    }
  }

  .group-separator {
    align-self: stretch;
    width: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: var(--muted);
  }
}
.filter-block:last-of-type {
  margin-bottom: 0;
}
