@import '../../components/Layout/layout.scss';
@import '../../components/Layout/Navbar/navbar.scss';
@import '../../components/Layout/Footer/footer.scss';
@import '../../components/Home/Hero/Leaflet/leaflet.scss';
@import '../../components/Home/home.scss';
@import '../../components/Home/animatedList.scss';
@import '../../components/BlockDetails/blockDetails.scss';
