@import '../../components/Layout/layout.scss';
@import '../../components/Layout/Navbar/navbar.scss';
@import '../../components/Layout/Footer/footer.scss';
@import '../../components/Home/Hero/Leaflet/leaflet.scss';
@import '../../components/Home/home.scss';
@import '../../components/Home/animatedList.scss';
@import '../../components/BlockDetails/blockDetails.scss';
@import '../../components/Address/DelegationDetails/delegationDetails.scss';
@import '../../components/Validators/ValidatorDetails/Rounds/rounds.scss';
@import '../../components/TransactionDetails/ScResultsList/scResultsList.scss';
@import '../../components/Validators/ValidatorDetails/validatorDetails.scss';
@import '../../components/Identities/identities.scss';
