@import '../../components/Layout/layout.scss';
@import '../../components/Layout/Navbar/navbar.scss';
@import '../../components/Layout/Footer/footer.scss';
@import '../../components/Home/ValidatorsStatus/Leaflet/leaflet.scss';
@import '../../components/Home/NetworkHealth/networkHealth.scss';
@import '../../components/Home/NetworkHealth/ProgressRing/progressRing.scss';
@import '../../components/Home/ValidatorsStatus/SimpleMap/simpleMap.scss';
@import '../../components/Home/home.scss';
@import '../../components/Home/animatedList.scss';
@import '../../components/BlockDetails/blockDetails.scss';
@import '../../components/AccountDetails/DelegationDetails/delegationDetails.scss';
@import '../../components/TransactionDetails/ScResultsList/scResultsList.scss';
@import '../../components/Identities/identities.scss';
@import '../../components/NodeDetails/Rounds/rounds.scss';
@import '../../components/NodeDetails/NetworkMetrics/networkMetrics.scss';
