.form-control {
  &.is-invalid {
    background-image: none;
    padding-right: 0.75rem;
  }
}

.btn {
  &.btn-white {
    border: 1px solid $border-color;
    color: $secondary;
    background-color: $card-bg;

    &:hover {
      box-shadow: none;
      border-color: $input-hover-border-color;
    }
  }
}

.side-action {
  color: $muted;
  margin-left: 0.5rem;
  transition: color 200ms ease;

  &:hover {
    color: $primary !important;
  }
}

.cursor-text {
  cursor: text !important;
}

.text-break-all {
  word-break: break-all;
}

.modal-open {
  .modal {
    .modal-dialog {
      @extend .modal-lg;

      .modal-content {
        background-color: transparent;
      }
    }
  }
}

.page-container {
  @extend .d-flex;
  @extend .flex-fill;
  @extend .flex-column;

  @include media-breakpoint-down(sm) {
    width: 100vw;
    max-width: 100%;
  }
}

.table-wrapper {
  overflow-x: auto;

  .table {
    @extend .m-0;
    white-space: nowrap;

    th {
      border: 0;
      color: $body;

      @extend .border-bottom;
      @extend .text-semibold;
      @extend .bg-light;
    }

    td {
      color: $body;
      vertical-align: middle;
    }
  }
}

.navbar-brand {
  svg {
    height: 1.5rem;
    width: auto;
    margin-right: 0.8rem;
  }

  span {
    font-size: 1.2rem;
    font-weight: 300;
    border-left: 1px solid $border-color;
    padding-left: 0.7rem;
  }
}

.min-w-0 {
  min-width: 0;
}

.page-state-sm {
  .icon-state {
    font-size: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  .my-spacer {
    @include media-breakpoint-up(md) {
      margin: 0 !important;
    }
  }

  .mt-spacer {
    margin-top: 1rem !important;
  }
}

.outline-0 {
  outline: 0 !important;
}

.truncate-item-lg {
  @extend .text-truncate;
  max-width: 13rem;
}

.text-body {
  color: $body;
}

.flex-basis-0 {
  flex-basis: 0;
}

.direction-badge {
  @extend .badge;
  @extend .badge-pill;
  @extend .text-uppercase;
  @extend .flex-fill;

  font-weight: normal;
  font-size: 63%;
  position: relative;
  background-color: $light;
  min-width: 2.5rem;

  &.out {
    color: $warning;
    border: 1px solid rgba($warning, 0.2);
  }

  &.in {
    color: $success;
    border: 1px solid rgba($success, 0.2);
  }

  &.self {
    color: $secondary;
    border: 1px solid rgba($secondary, 0.2);
  }
}

.mr-lg-n1rem {
  @include media-breakpoint-up(lg) {
    margin-right: -1rem;
  }
}

.btn-primary-light {
  color: $primary !important;
  background-color: $primary-light;

  &:hover {
    color: $primary !important;
    background-color: $primary-light-hover;
  }
}

.animated-list {
  .animated-row {
    padding-top: 0.93rem;
    padding-bottom: 0.93rem;

    &.border-bottom:last-child {
      border-bottom: 0 !important;
    }
  }

  .new {
    @keyframes highlight {
      from {
        background-color: $light;
      }
    }
    animation: highlight 1000ms ease-in-out;
  }

  .list-item-icon {
    border-radius: 50%;
    font-size: 0.9375rem;
    text-align: center;
    color: $secondary;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    background: $light;
    box-shadow: inset 0 0 3px rgba($secondary, 0.2);
    flex-shrink: 0;
  }
}

.tab-link {
  display: flex;

  h6 {
    color: $primary;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.position-absolute-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.line-height-1 {
  line-height: 1;
}
