.form-control {
  &.is-invalid {
    background-image: none;
    padding-right: 0.75rem;
  }
}

.btn {
  &.btn-white {
    border: 1px solid $border-color;
    color: $secondary;
    background-color: $card-bg;

    &:hover {
      box-shadow: none;
      border-color: $input-hover-border-color;
    }
  }
}

.side-action {
  color: $muted;
  margin-left: 0.5rem;
  transition: color 200ms ease;

  &:hover {
    color: $primary !important;
  }
}

.cursor-text {
  cursor: text !important;
}

.text-break-all {
  word-break: break-all;
}

.modal-open {
  .modal {
    .modal-dialog {
      @extend .modal-lg;

      .modal-content {
        background-color: transparent;
      }
    }
  }
}

.navbar-brand {
  svg {
    height: 1.5rem;
    width: auto;
    margin-right: 0.8rem;
  }

  span {
    font-size: 1.2rem;
    font-weight: 300;
    border-left: 1px solid $border-color;
    padding-left: 0.7rem;
  }
}

/* Cards
-------------------------------------------------- */
.card-scroll {
  height: 24rem;
  overflow-x: hidden;
  overflow-y: scroll;

  .row > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
