// Uncomment in case of reeboot override not working
// html,
// body {
//   font-weight: 400;
// }

.card {
  @extend .card-small;

  height: 100%;
  overflow: hidden;
  word-wrap: normal; // fixes Trim bug

  .card-header {
    border: 0;
    padding: 0;

    &:first-child {
      border-radius: calc(#{$card-border-radius} - 1px) calc(#{$card-border-radius} - 1px) 0 0;
    }

    .card-header-item {
      border-bottom: 1px solid $border-color;
      padding: 1rem;
    }
  }

  .card-footer {
    border-top: 1px solid $border-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @include media-breakpoint-up(lg) {
    .card-footer,
    .card-header-item {
      padding-left: $spacer-val !important;
      padding-right: $spacer-val !important;
    }

    .table-wrapper {
      th:first-child,
      td:first-child {
        padding-left: $spacer-val;
      }

      th:last-child,
      td:last-child {
        padding-right: $spacer-val;
      }
    }
  }
}

.main-content {
  > .main-content-container {
    &.container-fluid {
      min-height: calc(
        100vh - 9rem
      ); // fixes content min height taking into account navbar and footer heights
    }
  }
}
