$base-font-size: 14px;

html {
  font-size: $base-font-size;
  font-weight: 500;

  // Adjust font sizes for 144dpi+ (including retina).
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    font-size: $base-font-size;
    font-weight: 400;
  }
}

body {
  font-size: $base-font-size;
  font-weight: 500;
}

.card {
  @extend .card-small;

  height: 100%;
  overflow: hidden;
  word-wrap: normal; // fixes Trim bug

  .card-header {
    border: 0;
    padding: 0;

    &:first-child {
      border-radius: calc(#{$card-border-radius} - 1px) calc(#{$card-border-radius} - 1px) 0 0;
    }

    .card-header-item {
      border-bottom: 1px solid $border-color;
      padding: 1.5rem 1rem;

      h6 {
        line-height: 1.95rem;
        @extend .m-0;
      }

      &.compact {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        background-color: $light;
      }
    }
  }

  .card-footer {
    border-top: 1px solid $border-color;
    line-height: 2.37rem;
  }

  @include media-breakpoint-up(lg) {
    .card-footer,
    .card-header .card-header-item {
      padding-left: $spacer-val;
      padding-right: $spacer-val;
    }

    .table-wrapper {
      th:first-child,
      td:first-child {
        padding-left: $spacer-val;
      }

      th:last-child,
      td:last-child {
        padding-right: $spacer-val;
      }
    }
  }
}

.main-content {
  > .main-content-container {
    &.container-fluid {
      min-height: calc(
        100vh - 9rem
      ); // fixes content min height taking into account navbar and footer heights
    }
  }
}
