$body: red !default; // body text
$body-bg: red !default; // body background

$primary: red !default; // btns, links
$secondary: red !default; // faded text
$muted: red !default; // strong faded text
$light: red !default; // menu items hover
$success: red !default;

$primary-light: red !default; // pager btns
$primary-light-hover: red !default; // pager btns

$map-bg: red !default;

$standard-box-shadow: red !default; // sidebar, navbar, cards
$item-box-shadow: red !default; // card items
$link-hover-color: red !default;

$card-bg: red !default; // cards, navbar, sidebar
$border-color: red !default; // border used by many elements
$border-color-alt: red !default;

$input-color: red !default;
$input-bg: red !default;
$input-disabled-bg: red !default;
$input-hover-border-color: red !default;

// do no copy below code
:root {
  --muted: #{$muted};
  --card-bg: #{$card-bg};
  --border-color: #{$border-color};
  --chart-faded-bg: #{rgba($primary, 0.3)};
}
