// override themeVariables below

$body: #2d2d2d;
$body-bg: #fafafa;

$primary: #1b46c2;
$secondary: #6c757d;
$muted: #cacbcc;
$light: #fbfbfb;
$success: #17c671;

$primary-light: #eaeffc;
$primary-light-hover: darken($primary-light, 5%);

$standard-box-shadow: #5a6169;
$link-hover-color: darken($primary, 7%);

$card-bg: #fff;
$border-color: #e2e2e2;

$input-color: $secondary;
$input-bg: $card-bg;
$input-disabled-bg: #e9ecef;
$input-hover-border-color: darken($border-color, 15%);

@import './main';
