// override themeVariables below

$body: #000;
$body-bg: #e7ebf7;

$primary: #000;
$secondary: #6c757d;
$muted: #cacbcc;
$light: #f5f5f5;
$success: #17c671;

$primary-light: #eaeffc;
$primary-light-hover: darken($primary-light, 5%);

$standard-box-shadow: $primary;
$item-box-shadow: $standard-box-shadow;
$link-hover-color: darken($primary, 7%);

$map-bg: #fafbfe;

$card-bg: #fff;
$border-color: lighten($muted, 10%);

$input-color: $secondary;
$input-bg: $card-bg;
$input-disabled-bg: #e9ecef;
$input-hover-border-color: darken($border-color, 15%);

@import './main';

.main-content-container {
  a:not(.btn-primary-light) {
    text-decoration: none !important;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      bottom: 4px;
      border-bottom: 1px solid $primary;
    }

    &.tab-link {
      &::after {
        bottom: 7px;
      }

      &.active {
        text-decoration: none;

        &::after {
          content: none;
        }
      }
    }
  }

  .card-item-value {
    a {
      &::after {
        bottom: 2px;
      }
    }
  }

  .nodes-filters a,
  .nodes-table thead a,
  .pager a,
  .side-action {
    &::after {
      content: none !important;
    }
  }
}
