// override themeVariables below

$body: #000;
$body-bg: #e7ebf7;

$primary: #000;
$secondary: #6c757d;
$muted: #cacbcc;
$light: #f5f5f5;
$success: #28a745;

$primary-accent: lighten($primary, 40%);

$standard-box-shadow: $primary;
$link-hover-color: darken($primary, 7%);

$card-bg: #fff;
$border-color: lighten($muted, 10%);

$input-color: $secondary;
$input-bg: $card-bg;
$input-disabled-bg: #e9ecef;
$input-hover-border-color: darken($border-color, 15%);

@import './main';

.main-content-container {
  a {
    text-decoration: none !important;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      bottom: 4px;
      border-bottom: 1px solid $primary;
    }
  }

  .nodes-filters a,
  .nodes-tabs a,
  .pager a,
  .side-action {
    &::after {
      content: none !important;
    }
  }
}
