.transactions-table {
  .table {
    .trim-hash {
      max-width: 8rem;

      @include media-breakpoint-up(lg) {
        max-width: 9rem;
      }

      @include media-breakpoint-up(xl) {
        max-width: 10rem;
      }
    }

    .direction-badge {
      @extend .badge;
      @extend .badge-pill;
      @extend .text-uppercase;
      @extend .flex-fill;

      font-weight: normal;
      font-size: 65%;
      height: 1.1rem;
      position: relative;
      top: 0.2rem;
      background-color: $light;
      min-width: 2.5rem;

      &.out {
        color: $warning;
        border: 1px solid lighten($warning, 35%);
      }

      &.in {
        color: $success;
        border: 1px solid lighten($success, 45%);
      }

      &.self {
        color: $secondary;
        border: 1px solid lighten($secondary, 40%);
      }
    }
  }
}
