@mixin top-bar($color) {
  box-shadow: inset 0 0.285rem 0 0 rgba($color, 0.3);
}

.account-details-card {
  .card {
    overflow: visible !important;
  }
  .status-text-warning {
    @include top-bar($warning);
  }

  .status-text-danger {
    @include top-bar($danger);
  }
  .transactions-table {
    .table {
      .transaction-value {
        max-width: 13rem;
      }
    }
  }
}
