.simple-map {
  @include media-breakpoint-up(lg) {
    max-height: 25rem;
  }

  .rsm-svg {
    fill: $map-bg; // background color
    stroke: $secondary; // border color
    stroke-width: 0.015rem;

    .rsm-geography {
      &:focus {
        outline: none;
      }
    }

    .simple-map-marker {
      fill: $primary;
      transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;

      &.leader {
        opacity: 0.7;
        transform: scale(1.4);
      }
    }
  }
}

.continent-name {
  line-height: 1.4;
}
