.simple-map {
  .rsm-svg {
    fill: #eaeffc; // background color
    stroke: #dddede; // border color

    .rsm-geography {
      &:focus {
        outline: none;
      }
    }

    .simple-map-marker {
      fill: $primary;
    }

    .pulsing-map-marker {
      .base-circle {
        fill: $primary;
        opacity: 1;
      }

      // circle {
      //   fill: $primary;
      //   opacity: 0.3;
      // }

      // .rp1 {
      //   animation: ripple1 2s linear infinite;
      // }
      // @keyframes ripple1 {
      //   0% {
      //     transform: scale(5.5);
      //     opacity: 0.3;
      //   }
      //   100% {
      //     transform: scale(8.5);
      //     opacity: 0;
      //   }
      // }
      // .rp2 {
      //   animation: ripple2 2s linear infinite;
      // }
      // @keyframes ripple2 {
      //   0% {
      //     transform: scale(3.5);
      //   }
      //   100% {
      //     transform: scale(5.5);
      //   }
      // }
      // .rp3 {
      //   animation: ripple3 2s linear infinite;
      // }
      // @keyframes ripple3 {
      //   0% {
      //     transform: scale(1.5);
      //   }
      //   100% {
      //     transform: scale(3.5);
      //   }
      // }

      // rings
      @mixin rings($duration, $delay) {
        opacity: 0;
        stroke: $primary;
        stroke-width: 0.1rem;
        animation-name: ripple;
        animation-duration: $duration;
        animation-delay: $delay;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
      }

      @keyframes ripple {
        0% {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        50% {
          opacity: 0;
          transform: scale3d(3, 3, 1);
        }
      }

      .rp1 {
        @include rings(3s, 0s);
      }

      .rp2 {
        @include rings(3s, 0.7s);
      }

      // .rp3 {
      //   @include rings(3s, 1.4s);
      // }
    }
  }
}
