.simple-map {
  @include media-breakpoint-up(lg) {
    max-height: 25rem;
  }

  .rsm-svg {
    fill: $map-bg; // background color
    stroke: $secondary; // border color
    stroke-width: 0.015rem;

    .rsm-geography {
      &:focus {
        outline: none;
      }
    }

    .simple-map-marker {
      fill: $primary;

      &.leader {
        fill: $white;
        stroke-width: 3px;
        stroke: $primary;
      }
    }

    .pulse {
      fill: none;
      stroke: $primary;
      animation-duration: 1.4s;
      animation-name: pulse;
      animation-iteration-count: 2;
    }

    @keyframes pulse {
      from {
        stroke-width: 0.214rem;
        stroke-opacity: 1;
        transform: scale3D(1, 1, 1);
      }
      to {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale3d(6, 6, 1);
      }
    }
  }
}

.continent-name {
  line-height: 1.4;
}
