.simple-map {
  .rsm-svg {
    fill: #eaeffc; // background color
    stroke: #dddede; // border color

    .rsm-geography {
      &:focus {
        outline: none;
      }
    }

    .simple-map-marker {
      fill: $primary;
    }

    .pulsing-map-marker {
      .base-circle {
        fill: $primary;
        opacity: 1;
      }

      // rings
      @mixin rings($duration, $delay) {
        opacity: 0;
        stroke: $primary;
        stroke-width: 0.1rem;
        animation-name: ripple;
        animation-duration: $duration;
        animation-delay: $delay;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
      }

      @keyframes ripple {
        0% {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        50% {
          opacity: 0;
          transform: scale3d(4, 4, 1);
        }
      }

      .rp1 {
        @include rings(3s, 0s);
      }
    }
  }
}
