@mixin rings($duration, $delay) {
  opacity: 0;
  stroke: $primary;
  stroke-width: 0.1rem;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);

  // enable GPU processing
  will-change: transform, opacity;
  backface-visibility: hidden;
}

@keyframes ripple {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  50% {
    transform: scale3d(4, 4, 1);
    opacity: 0;
  }
}

@mixin blink($duration, $delay) {
  animation-name: blink-anim;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  will-change: transform;
  backface-visibility: hidden;
}

@keyframes blink-anim {
  0%,
  100% {
    // fill: $primary;
    transform: scale3d(1, 1, 1);
  }
  50% {
    // fill: lighten($primary, 30%);
    transform: scale3d(1.5, 1.5, 1);
  }
}

.simple-map {
  .rsm-svg {
    fill: #eef1f5; // background color
    stroke: #8388a3; // border color
    stroke-width: 0.017rem;

    .rsm-geography {
      &:focus {
        outline: none;
      }
    }

    .simple-map-marker {
      fill: $primary;
    }

    .pulsing-map-marker {
      .base-circle {
        fill: $primary;
        opacity: 1;
      }

      .base-circle {
        // @include blink(2s, 1s);
      }

      // .rp1 {
      //   @include rings(3s, 2s);
      // }
    }
  }
}
