.latest-items-container {
  $itemMaxWidth: 20.5rem;

  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;

  &:after {
    content: ' ';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1rem;
    z-index: 999;
    background: linear-gradient(
      90deg,
      rgba(var(--black-rgb), 0) 0%,
      rgba(var(--black-rgb), 1) 90%
    );
  }

  .latest-item {
    transition: 0.3s max-width ease-in-out, 1s opacity ease-in-out;
    max-width: $itemMaxWidth;
    white-space: nowrap;
    opacity: 1;

    @include media-breakpoint-up(md) {
      &.isNew {
        max-width: 0;
        opacity: 0;
      }

      .latest-item-card {
        margin-right: 1.5rem;
      }
    }

    .latest-item-card {
      position: relative;
      max-width: $itemMaxWidth;
      display: flex;
      flex-direction: column;
      background-color: var(--neutral-900);
      border-radius: 1rem;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 1rem;
        padding: 1px;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        background: linear-gradient(
          90deg,
          rgba(35, 247, 221, 1) 0%,
          transparent 75%
        );
      }
      &.status-text-success {
        &:before {
          background: linear-gradient(
            90deg,
            rgba(74, 222, 128, 1) 0%,
            transparent 75%
          );
        }
      }
      &.status-text-warning {
        &:before {
          background: linear-gradient(
            90deg,
            rgba(251, 191, 36, 1) 0%,
            transparent 75%
          );
        }
      }
      &.status-text-danger {
        &:before {
          background: linear-gradient(
            90deg,
            rgba(248, 113, 113, 1) 0%,
            transparent 75%
          );
        }
      }

      .latest-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 0.9375rem;
        text-align: center;
        color: var(--neutral-400);
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem;
        background: var(--neutral-700);
        box-shadow: inset 0 0 3px rgba(var(--neutral-400), 0.2);
        flex-shrink: 0;
      }

      .tx-badge {
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
      }

      .transaction-value {
        width: 10.5rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: 0rem !important;

    &:after {
      content: none;
    }

    .latest-item {
      margin-right: 0 !important;
      margin-bottom: 1rem !important;
      max-width: none;

      &.hide-sm {
        display: none;
      }

      .latest-item-card {
        max-width: none;
        .symbol {
          max-width: none;
        }
      }
    }
  }
}
