name: Cypress Tests
on:
  pull_request:
    branches: [main]

jobs:
  Slack-Notification:
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@master
        if: always()
        env:
          SLACK_ICON_EMOJI: ':robot_face:'
          SLACK_USERNAME: Cypress Bot
          SLACK_MESSAGE: E2E tests are now running. Stay tuned for updates!
          SLACK_TITLE: 'Cypress'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Setup yarn
        run: npm install -g yarn
      - run: npm config set '//npm.fontawesome.com/:_authToken' "${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}"
      - run: yarn install
      - run: yarn run prepare-pro-icons
      - run: yarn run build-devnet
        env:
          CI: false
          VITE_APP_MARKERS_API_URL: ${{ secrets.MARKERS_API_URL }}
          VITE_APP_VERSION_URL: ${{ secrets.APP_VERSION_URL }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'
      - name: Deploy to S3 bucket
        run: aws s3 sync ./build/ s3://${{ secrets.AWS_S3_BUCKET_INTEGRATION }} --delete
      - name: No-cache index.html
        run: aws s3 cp s3://${{ secrets.AWS_S3_BUCKET_INTEGRATION }}/index.html s3://${{ secrets.AWS_S3_BUCKET_INTEGRATION }}/index.html --metadata-directive REPLACE --cache-control max-age=0,no-cache,no-store,must-revalidate --content-type text/html --acl public-read
      - name: Cypress run
        uses: cypress-io/github-action@v4
      - name: Uploading artifact
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-execution-report
          path: |
            /home/runner/work/mx-explorer-dapp/mx-explorer-dapp/mochawesome-report/mochawesome.html
            /home/runner/work/mx-explorer-dapp/mx-explorer-dapp/cypress/screenshots
            /home/runner/work/mx-explorer-dapp/mx-explorer-dapp/cypress/videos
