.bg-blue {
  // background-image: linear-gradient(150deg, #0baae9, #1851db);
  background-color: $blue !important;
  // background-image: linear-gradient(150deg,lighten($blue,20%),$blue);
  background-repeat: repeat-x;
}

.bg-black {
  background-color: #000;
}
