// TEMPORARY - css overrides - TODO - move to bootstrap

html {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'calt' 0;
}

dt {
  font-weight: 400;
}
dd {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    color: var(--#{$prefix}primary);
  }
}

.text-lh-24 {
  line-height: 24px; // must be same as icon height to avoid issues between browsers
  .trim {
    .left,
    .right,
    .elipsis {
      height: 24px;
    }
  }
}

// webkit being webkit
input {
  color-scheme: dark;
}
input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.recharts-tooltip-wrapper {
  background-color: transparent !important;

  &:before,
  &:after {
    content: none !important;
  }
}
