html {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'calt' 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    color: var(--#{$prefix}primary);
  }
}

// webkit being webkit
input {
  color-scheme: dark;
}
input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  transition: background-color 600000s 0s, color 600000s 0s;
}

// recharts fix
.recharts-tooltip-wrapper {
  background-color: transparent !important;

  &:before,
  &:after {
    content: none !important;
  }
}
