// Neutrals

.text-neutral-100 {
  color: var(--neutral-100);
}
.text-neutral-200 {
  color: var(--neutral-200);
}
.text-neutral-300 {
  color: var(--neutral-300);
}
.text-neutral-400 {
  color: var(--neutral-400);
}
.text-neutral-500 {
  color: var(--neutral-500);
}
.text-neutral-600 {
  color: var(--neutral-600);
}
.text-neutral-700 {
  color: var(--neutral-700);
}
.text-neutral-800 {
  color: var(--neutral-800);
}
.text-neutral-900 {
  color: var(--neutral-900);
}
.text-violet-400 {
  color: var(--violet-400);
}
.text-teal {
  color: var(--teal);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}
.bg-neutral-200 {
  background-color: var(--neutral-200);
}
.bg-neutral-300 {
  background-color: var(--neutral-300);
}
.bg-neutral-400 {
  background-color: var(--neutral-400);
}
.bg-neutral-500 {
  background-color: var(--neutral-500);
}
.bg-neutral-600 {
  background-color: var(--neutral-600);
}
.bg-neutral-700 {
  background-color: var(--neutral-700);
}
.bg-neutral-800 {
  background-color: var(--neutral-800);
}
.bg-neutral-900 {
  background-color: var(--neutral-900);
}

// Colors

.text-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.text-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}
.text-orange {
  color: var(--orange);
}
.bg-orange {
  background-color: var(--orange);
}
.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}

.text-primary-200 {
  color: var(--primary-200);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}

// BADGES

.badge {
  &:hover {
    color: inherit;
  }
}

.badge-green-alt,
.badge-yellow,
.badge-orange,
.badge-grey {
  border: 0;
  line-height: 1rem;
  color: #fafafa; // TODO theme-color neutral/50
  min-width: 1.5rem;
}

.badge-green-alt {
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 0.3),
    rgba(0, 217, 245, 0.3)
  );
}
.badge-yellow {
  background: linear-gradient(
    90deg,
    rgba(240, 152, 25, 0.4),
    rgba(237, 222, 93, 0.4)
  );
}
.badge-orange {
  background: linear-gradient(
    90deg,
    rgba(240, 77, 25, 0.2) 0%,
    rgba(237, 136, 93, 0.2) 100%
  );
}
.badge-grey {
  color: var(--neutral-400);
  background: linear-gradient(
    90deg,
    rgba(117, 127, 154, 0.3),
    rgba(215, 221, 232, 0.3)
  );
}

.badge-outline {
  border: 0;
  position: relative;
  line-height: 1rem;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: $badge-border-radius;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  &-green {
    color: #22c55e; // TODO theme-color green/500
    background: linear-gradient(
      90deg,
      rgba(74, 222, 128, 0.06) 0%,
      rgba(134, 239, 172, 0.06) 36.32%,
      rgba(22, 163, 74, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(134, 239, 172, 0.5),
        rgba(74, 222, 128, 0.5),
        rgba(22, 163, 74, 0.5)
      );
    }
  }
  &-green-alt {
    color: #ccfbf1; // TODO theme-color teal/100 rgba(204, 251, 241)
    background: linear-gradient(
      90deg,
      rgba(0, 245, 160, 0.06) 0%,
      rgba(0, 217, 245, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(0, 245, 160, 0.3),
        rgba(0, 217, 245, 0.3)
      );
    }
  }
  &-yellow {
    color: #fef08a; // TODO theme-color yellow/100
    background: #171717;
    &:before {
      background: linear-gradient(
        90deg,
        rgba(240, 152, 25, 0.4),
        rgba(237, 222, 93, 0.4)
      );
    }
  }
  &-orange {
    color: #fed7aa; // TODO theme-color orange/200 rgba(254, 215, 170)
    background: #171717;
    &:before {
      background: linear-gradient(
        90deg,
        rgba(240, 77, 25, 0.4),
        rgba(237, 136, 93, 0.4)
      );
    }
  }
  &-grey {
    color: var(--neutral-500);
    background: linear-gradient(
      90deg,
      rgba(117, 127, 154, 0.06) 0%,
      rgba(215, 221, 232, 0.06) 100%
    );
    &:before {
      background: linear-gradient(
        90deg,
        rgba(117, 127, 154, 0.3),
        rgba(215, 221, 232, 0.3)
      );
    }
  }
  &-teal {
    color: var(--teal);
    background: #171717;
    &:before {
      background: linear-gradient(
                      90deg,
                      var(--teal),
                      #47e8d3
      );
    }
  }
  &-violet-400 {
    color: var(--violet-400);
    background: #171717;
    &:before {
      background: linear-gradient(
                      90deg,
                      var(--violet-400),
                      #b6a1f3
      );
    }
  }

  &.badge-rounded {
    line-height: 12px;
    border-radius: 6px;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    &:before {
      border-radius: 6px;
    }
  }
}

.badge-direction {
  min-width: 40px;
  &.out {
    @extend .badge-outline-yellow;
  }
  &.in {
    @extend .badge-outline-green;
  }
  &.self {
    @extend .badge-outline-grey;
  }
  &.internal,
  &.int {
    @extend .badge-outline-grey;
  }
}

.tx-badge {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-900);
  svg {
    margin-right: 0 !important;
  }
  &.pending {
    border-color: var(--yellow);
  }
  &.invalid {
    border-color: var(--orange);
  }
  &.success {
    border-color: var(--green);
  }
  &.failed,
  &.fail {
    border-color: var(--red);
  }
  border-color: var(--neutral-400);
}
.tx-badge,
.tx-status {
  cursor: context-menu;
  &.pending {
    color: var(--yellow);
  }
  &.invalid {
    color: var(--orange);
  }
  &.success {
    color: var(--green);
  }
  &.failed,
  &.fail {
    color: var(--red);
  }
  color: var(--neutral-400);
}

.input-group-seamless {
  position: relative;
  .form-control {
    width: 100%;
    padding-right: 4.5rem;
    border-top-right-radius: $input-border-radius !important;
    border-bottom-right-radius: $input-border-radius !important;
  }
  .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
  }
  .input-group-text:first-of-type:not(:last-of-type) {
    right: 40px;
    &::before {
      display: none;
    }
  }
  &.input-group-lg {
    .form-control {
      border-top-right-radius: $input-border-radius-lg !important;
      border-bottom-right-radius: $input-border-radius-lg !important;
    }
  }
  &.input-group-sm {
    .form-control {
      border-top-right-radius: $input-border-radius-sm !important;
      border-bottom-right-radius: $input-border-radius-sm !important;
    }
  }
  &.has-validation {
    .input-group-text {
      top: 10%;
      bottom: unset;
    }
  }
}

.table {
  th {
    font-weight: 400;
    background-color: rgba(38, 38, 38, 0.6);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-width: 0;
    &:first-of-type {
      padding-left: 1rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    &:last-of-type {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:first-of-type {
      padding-left: 1rem;
    }
  }
  tr:first-of-type {
    td:first-of-type {
      border-top-left-radius: 0.5rem;
    }
    td:last-of-type {
      border-top-right-radius: 0.5rem;
    }
  }
  tr:last-of-type {
    td {
      border-bottom: 0;
    }
  }
}

.card {
  .card-header + .card-body {
    padding-top: 0 !important;
  }
  .card-body + .card-footer {
    padding-top: 0 !important;
  }
  @include media-breakpoint-down(md) {
    .card-header,
    .card-body,
    .card-footer {
      padding: 1.5rem 1rem;
    }
  }
  &.card-sm {
    .card-header,
    .card-body,
    .card-footer {
      padding: 1rem;
    }
  }
  &.card-lg {
    .card-header,
    .card-body,
    .card-footer {
      padding: 2rem;
      @include media-breakpoint-down(md) {
        .card-header,
        .card-body,
        .card-footer {
          padding: 1.5rem 1rem;
        }
      }
    }
  }
}

.br-sm {
  border-radius: 0.25rem;
  &.badge-outline:before {
    border-radius: 0.25rem;
  }
}
.br-md {
  border-radius: 0.375rem;
  &.badge-outline:before {
    border-radius: 0.375rem;
  }
}
.br-lg {
  border-radius: 0.5rem;
  &.badge-outline:before {
    border-radius: 0.5rem;
  }
}
.br-xl {
  border-radius: $font-size-base;
  &.badge-outline:before {
    border-radius: $font-size-base;
  }
}
.br-xxl {
  border-radius: $font-size-root;
  &.badge-outline:before {
    border-radius: $font-size-root;
  }
}
