.social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  a {
    &:after {
      display: none;
    }
  }
  .social-icon {
    width: 1rem;
    height: 1rem;
    fill: var(--neutral-400);
    color: var(--neutral-400);
    &:hover {
      fill: var(--primary);
      color: var(--primary);
    }
  }
}
