.pager {
  .btn.btn-pager {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-100);
    font-size: 0.75rem;
    font-family: 'Roobert SemiBold';
    font-weight: 600;
    border: 0;

    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1rem;
    height: 1.5rem;

    &.page-btn {
      min-width: 1.5rem;
    }
    &.active {
      background-color: var(--neutral-800);
    }
    &:hover {
      background-color: var(--neutral-900);
    }
    @include media-breakpoint-down(md) {
      padding: 0.625rem;
    }
    @include media-breakpoint-up(md) {
      padding: 0.5rem 0.625rem;
      font-size: var(--body-font-size);
      border-radius: 2rem;
      height: 2rem;

      &.page-btn {
        min-width: 2rem;
      }
    }
  }

  .page-holder {
    gap: 0.125rem;
    @include media-breakpoint-up(md) {
      gap: 0.25rem;
    }
  }

  .btns-contrainer {
    display: flex;
    overflow: hidden;
    gap: 0.25rem;
    @include media-breakpoint-up(md) {
      gap: 0.5rem;
    }

    &.inactive {
      .btn {
        color: var(--neutral-600) !important;
        &:hover {
          background-color: transparent;
        }
      }
    }

    .btn:first-child {
      margin-right: 1px;
    }

    @media (max-width: 360px) {
      .next-btn,
      .previous-btn {
        display: none;
      }
    }
  }

  &.pager-inline {
    line-height: 1;
  }
}
